<style>
	.btn-primary {
		background-color: #C69C56;
		border: none;
	}

	.down, .back-to-top {
		background-color: #C69C56;
	}
</style>
  <header id="header">   
    <nav class="navbar" role="navigation">
      <div class="navbar-inner">
	      <div class="container">
          <!-- logo-->                       
					<%# <a href="#" title="Home" class="logo"><img src="img/logo.png " alt="logo"></a> %>         
					<a href="#" title="Home" class="logo"><%= image_tag "logo.png" %></a>         
          <!-- Menu -->
          <ul class="nav">
            <li><a href="#home" title="Home">Home</a></li>
            <%# <li><a href="#services" title="Services">Services</a></li> %>
            <li><a href="#about" title="About">About</a></li>
						<%# <li><a href="#keepsakes" title="Keepsakes">Keepsakes</a></li> %>
						<li><a href="#testimonials" title="Testimonials">Testimonials</a></li>
            <li><a href="#packages" title="Packages">Packages</a></li> 
            <%# <li><a href="#experience" title="Experience">Experience</a></li> %>
            <li><a href="#features" title="Features">Features</a></li>
						<li><a href="#contact" title="Contact Us">Contact Us</a></li>
						<%# <li><%= link_to "Login", login_path %1></li> %>
            <%# <li><a href="#showcase" title="Showcase">Showcase</a></li> %>
          </ul>
          <select class="select-menu"></select> <!-- select menu for small screens -->  
        </div>
      </div>
         
	  </nav>    
    <!-- Nav ends -->    
		<div id="home"> 
	      <!-- LayerSlider -->
        	<div id="full-slider-wrapper">
        		<div id="layerslider" style="width:1920px; height:1200px; max-width: 1920px;">
              <!-- Slide 1 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition3d: 2,7,9;">
        				<%# <img src="img/slider-main/1.jpg" class="ls-bg" alt="Slide background"> %>
								<%= image_tag "couple_at_fence.jpg", alt: "Slide background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">COLLECT WEDDING PHOTOS, <br>EFFORTLESSLY</h1>
            
        				<%# <p class="ls-l" style="top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;" data-ls="durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"> %>
        				<%# 	Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and<br> highly evocative atmospheres, enriching them with a subtle newfound palette %>
        				<%# </p> %>

        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 1 End -->
              <!-- Slide 2 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition2d:5;">
        				<%# <img src="img/slider-main/2.jpg" class="ls-bg" alt="Slide background"> %>
								<%= image_tag "bouquet_foreground_couple_background.jpg", alt: "Slide Background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">Receive Great Prints<br> of Guest Photos</h1>

        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 2 End -->
              <!-- Slide 3 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition3d:32,34,37,38,41;">
								<%= image_tag "couple_lying_in_field.jpg", alt: "Slide Background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">Remember Your Entire Wedding Journey</h1>
            
        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 3 End -->
        		</div>
        	</div>
          <!-- LayerSlider End -->    
				</div>
    

  </header>
  
  <section id="about"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">Your Guests' Photos: <br> Gathered, Printed, and Packaged</h2> 
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
					<p class="lead">Capstory helps clients collect their photos from guests. Our Editing Team then retouches the photos and creates a photo album full of high-quality shots. Our Customer Service Team then prints all your photos and sends you every single one, in 4x4 prints and on a USB of the originals.</p>
					<p class="lead">Capstory provides an easy manner of collecting your guests' images so that you receive as many different perspectives as possible.</p>

					<p class="lead"><b>This is your story. We will help you preserve the journey forever.</b></p>
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="projects-slider">
              <div class="row">
            <ul class="slides">          
							<%# Images need to be 768x500 %> 
							<%# Image Ratio needs to be 1.54:1 %> 
              <li>                        
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
											<%= image_tag "macbook_capsule.png", alt: "" %>
                      <div class="slider-text">
                        <h3>Your Capstory Webpage</h3>
												<p>Every client receives their very own webpage to host and share photos. This is where all of the guest photos and your own are organized.</p>
												<p>You can easily download all the photos.</p>
                      </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
											<%= image_tag "entrance.jpg", alt: "" %>
                      <div class="slider-text">
                        <h3>Royal Treatment</h3>
												<p>We offer an unrivaled level of customer service.</p>
												<p>Capstory is for brides who want to preserve their wedding memories but don't have endless hours with which to gather photos.</p>
                      </div>
                  </div>               
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
											<%= image_tag "reception_energy.jpg", alt: "" %>
                      <div class="slider-text">
                        <h3>Engaging Receptions</h3>
												<p>The photos in your webpage can be streamed live at your reception. As guests submit photos, they appear instantly in the live slideshow.</p> 
												<p>It's like magic!</p>
                      </div>
                  </div>
              </li>
            </ul>
            </div>
          </div>        
        </div>
      </div>
    </div>  
    <div class="spacer40"></div>
  </section> 
   <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">Keepsakes</h2>      
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
					<div class="thumbnail-slider">
						<ul class="slides">
							<li>
								<%= image_tag "transparent_photo_stack.png" %>
							</li>
						</ul>
					</div>
        </div>
        <div class="col-md-6">
          <div class="spacer30"></div>
          <h3 class="big">High-Quality Prints</h3>
					<p>We take all of the photos that have been submitted to your webpage, edit them with a little touch of creativity and make prints for you. Every single photo on the webpage belongs to you.</p>
					<p>We believe that you should get everything. So, we also send you a USB key with all of the originals.</p>
        </div>
      </div>      
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="spacer30"></div>
          <h3 class="big">Beautiful Albums </h3>
          <p>Once your guests have had time to upload photos from their digital cameras and any remaining photos on their phones, the Capstory professionals start putting together your photo book. We make sure to retouch these photos so every picture shines as bright as the memory it captured!</p>
        </div>
        <div class="col-md-6">
					<div class="thumbnail-slider">
						<ul class="slides">
							<li>
								<%= image_tag "photobooks.png" %>
							</li>
						</ul>
					</div>
        </div>
      </div>      
			<div class="row spacer100" id="testimonials"></div>
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="section-title">Testimonials</h2>
				</div>
			</div>
			<div class="spacer40"></div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "testimonials/duboses_testimonial.png" %>
				</div>
				<div class="col-md-6">
					<h3>The Duboses</h3>
					<p><blockquote>We were very fortunate to receive Capstory as a wedding gift from our dear friend and wedding planner. It has been absolutely wonderful to have a central location to look at the memories of our special weekend! The feedback has all been positive from our family and friends as well! We will gladly recommend Capstory to our loved ones who are planning a wedding!</blockquote></p>	
				</div>
			</div>
			<div class="spacer40"></div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "testimonials/renaud_testimonial.png" %>
				</div>
				<div class="col-md-6">
					<h3>The Renauds</h3>
					<p><blockquote>Our guests couldn't get enough of Capstory at our wedding. The live photo stream really helped pull the whole event together, and the photobook is full of great memories that we wouldn't have captured otherwise!</blockquote></p>	
				</div>
			</div>
			<div class="spacer40"></div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "testimonials/gibbs_testimonial.png" %>
				</div>
				<div class="col-md-6">
					<h3>The Gibbses</h3>	
					<p><blockquote>It came, the flash drive came! <b>I am sitting here, crying tears of JOY.</b> 
						<br>
						<br>
						The video was awesome, pictures, music, packaging and the look and feel of the flash drive...Beautiful just like our wedding. I feel so Blessed and Thankful! Your team of photo editors did an outstanding job. 
						<br>
						<br>
						What do I, we need to do to continue to promote CapStory…it’s the best! So are you, patient and supportive.</blockquote></p>
				</div>
			</div>
			<div class="spacer40"></div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "testimonials/jillian_testimonial.png" %>
				</div>
				<div class="col-md-6">
					<h3>The Wiesners</h3>	
					<p><blockquote>Once at the reception venue on our wedding night our families REALLY got into the Cap Story process and loved seeing their posted pictures scrolling on the all the TV screens. Our friends brought a Selfie Stick and the photos from that are hilarious! Sadly, one of my Aunts who lives in Alabama was not able to come in for the wedding. Her and her husband took a selfie holding a note reading “Congrats!” and sent it in to the CapStory link. Moments later Aunt Janet’s face was up on the screens … Such a special moment!
						<br>
						<br>
						I can’t say enough great things about our CapStory experience. If you are looking for a fun, interactive and memorable deviation away from the Photo Booth route, look no further!</blockquote></p>
				</div>
			</div>
      <div class="row spacer100" id="packages"></div>      
			<%# <div class="row"> %>
			<%# 	<div class="col-xs-12 col-md-4 text-center" style="margin-top:60px;"> %>
			<%# 		<h2 class="section-title">Bronze</h2> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<1%# <%= link_to "Purchase", payment_path(package: "bronze"), class: "btn btn-primary btn-lg" %2> %1> %> 
			<%# 		<1%# <a class="btn btn-primary" href="mailto:hello@capstory.me">Contact Us for Pricing</a> %1> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<ul class="list-unstyled"> %>
			<%# 			<li>24/7 Assistance</li> %>
			<%# 			<li>Capsule w/Instagram Integration</li> %>
			<%# 			<li>Personal Webpage for 12 months</li> %>
			<%# 			<li>100 Luxury Guest Instruction Cards</li> %>
			<%# 			<li>Live Streaming Slideshow with Remote Moderation</li> %>
			<%# 			<1%# <li>Professional Image Editing</li> %1> %>
			<%# 			<li>2 Mini Photo Books</li> %>
			<%# 			<li>4x4 Prints of 50 Photos</li> %>
			<%# 			<li>Unlimited, Immediate Access to Photos</li> %>
			<%# 		</ul> %>
			<%# 		<1%# <h2 class="">$499</h2> %1> %>
			<%# 	</div> %>	
			<%# 	<div class="col-xs-12  col-md-4 text-center" style="margin-top:60px;"> %>
			<%# 		<h2 class="section-title">Silver</h2> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<1%# <%= link_to "Purchase", payment_path(package: "silver"), class: "btn btn-primary btn-lg" %2> %1> %> 
			<%# 		<1%# <a class="btn btn-primary" href="mailto:hello@capstory.me">Contact Us for Pricing</a> %1> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<ul class="list-unstyled"> %>
			<%# 			<li>24/7 Assistance</li> %>
			<%# 			<li>Capsule w/Instagram Integration</li> %>
			<%# 			<li>Personal Webpage for 12 months</li> %>
			<%# 			<li>250 Luxury Guest Instruction Cards</li> %>
			<%# 			<li>Live Streaming Slideshow with Remote Moderation</li> %>
			<%# 			<li>Professional Image Editing</li> %>
			<%# 			<li>1 Keepsake Photo Book</li> %>
			<%# 			<li>2 Mini Photo Books</li> %>
			<%# 			<li>4x4 Prints of 100 Photos</li> %>
			<%# 			<li>USB Drive w/ All Media</li> %>
			<%# 			<li>Unlimited, Immediate Access to Photos</li> %>
			<%# 		</ul> %>
			<%# 		<1%# <h2 class="">$799</h2> %1> %>
			<%# 	</div> %>	
			<%# 	<div class="col-xs-12 col-md-4 text-center" style="margin-top:60px;"> %>
			<%# 		<h2 class="section-title">Gold</h2> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<1%# <%= link_to "Purchase", payment_path(package: "gold"), class: "btn btn-primary btn-lg" %2> %1> %> 
			<%# 		<1%# <a class="btn btn-primary" href="mailto:hello@capstory.me">Contact Us for Pricing</a> %1> %>
			<%# 		<div class="row spacer40"></div> %>
			<%# 		<ul class="list-unstyled"> %>
			<%# 			<li>24/7 Assistance</li> %>
			<%# 			<li>Capsule w/Instagram Integration</li> %>
			<%# 			<li>Personal Webpage for 24 months</li> %>
			<%# 			<li>500 Luxury Guest Instruction Cards</li> %>
			<%# 			<li>Live Streaming Slideshow with Remote Moderation</li> %>
			<%# 			<li>Professional Image Editing</li> %>
			<%# 			<li>1 Hard-Cover Luxury Photo Book</li> %>
			<%# 			<li>2 Keepsake Photo Books</li> %>
			<%# 			<li>10 Mini Photo Books</li> %>
			<%# 			<li>4x4 Prints of 250 Photos</li> %>
			<%# 			<li>Video of Wedding Journey</li> %>
			<%# 			<li>USB Drive w/ All Media</li> %>
			<%# 			<li>Unlimited, Immediate Access to Photos</li> %>
			<%# 		</ul> %>
			<%# 		<1%# <h2 class="">$1,499</h2> %1> %>
			<%# 	</div> %>	
			<%# </div> %>
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="section-title">The Capstory Experience</h2>
							</div>
						</div>
						<div class="row spacer40"></div>
						<div class="row">
							<div class="col-md-12">
								<p class="text-center" style="font-size:20px;">Every package includes the following:</p> 
							</div>
						</div>
						<div class="row spacer50"></div>
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-play-circle"></i>
									</div>
									<div class="services-1-title">1. Livestream Slideshow</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-check-square-o"></i>
									</div>
									<div class="services-1-title">2. Remote Moderation</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-copy fa-rotate-90"></i>
									</div>
									<div class="services-1-title">3. Custom Instruction Cards</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-phone"></i>
									</div>
										<div class="services-1-title">4. Priority Support</div>
								</div>
							</div>                
						</div>
						<div class="row spacer40"></div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a data-toggle="modal" data-target="#requestPackageInfo" class="btn btn-primary btn-lg">Request More Package Information</a>
				</div>
			<div class="modal fade" id="requestPackageInfo" tabindex="-1" role="dialog" aria-labelledby="RequestPackageInfo" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">Request A Custom Package</h4>
						</div>
						<%= form_tag("/contact_forms/request_package_information", format: :json,  method: "post", remote: true, id: "requestPackageInfo") do |f| %>
							<%= hidden_field_tag :source, "request_package_information" %>
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-12">

										<div class="row">            
											<div class="form-group col-xs-6">
												<%= label_tag :name %>
												<%= text_field_tag :name, "", class: "form-control", id: "package_info_name2", placeholder: "Name" %>
											</div>
											<div class="form-group col-xs-6">
												<%# <label for="email2">email</label> %>
												<%= label_tag :email %>
												<%= text_field_tag :email, "", class: "form-control", id: "package_info_email2", placeholder: "E-mail" %> 
											</div>
										</div>

										<div class="row">            
											<div class="form-group col-xs-6">
												<%= label_tag :packages, "Interested in Additional Items?" %>
												<br>
												<%= check_box_tag(:books) %>
												<%= label_tag(:books, "Books") %>
												<br>
												<%= check_box_tag(:extra_cards) %>
												<%= label_tag(:extra_cards, "Extra Instruction Cards") %>
												<br>
												<%= check_box_tag(:video_montage) %>
												<%= label_tag(:video_montage, "Video Montage") %>
												<br>
												<%= check_box_tag(:other) %>
												<%= label_tag(:other, "Other") %>
											</div>
											<div class="form-group col-xs-6">
												<%= label_tag :event_date %>
												<%= text_field_tag :event_date, "", class: "form-control", id: "package_info_date", placeholder: "Event Date" %>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-xs-12">
												<%# <label for="message2">message</label> %>
												<%= label_tag :message, "Additional Comment" %>
												<%= text_area_tag :message, "",class: "form-control", id: "package_info_message2", placeholder: "Additional Coment", rows: 4 %>

											</div>
										</div> 
										<div class="row spacer30"></div>
										<div class="row">
											<div class="col-md-8 col-md-offset-2">
												<p class="text-center">Please, fill out the form and press submit. Or, contact us by email or telephone. Our email and phone number are below.</p>
											</div>
										</div>
										<div class="row spacer10"></div>
										<div class="row">            
											<div class="col-xs-12 text-center">
												<div class="alert alert-success" id="package_info_form_success" style="display:none;">The e-mail was successfully sent. Thank you. We will reach back out to you as soon as we possibly can.</div>
												<div class="error alert alert-danger" id="package_info_form_err">There is a problem with the contact form, please verify that all the fields are filled out correctly.</div>
												<div class="error" id="err-timedout">The connection to the server timed out!</div>
												<div class="error" id="err-state"></div>

												<%# <button type="submit" class="btn btn-default" id="send">Submit</button> %>
											</div>
										</div>
									</div>  

								</div>      
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<%= submit_tag "Submit", class: "btn btn-primary" %>
								<%# <button type="button" class="btn btn-primary" id="modalSubmitButton">Save changes</button> %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			</div>
			<div class="row spacer60"></div>
    </div>     
  </section>   

    
	<div id="parallax-three" class="parallax" style="background-image:url(<%= asset_path 'des_on_chris_lap.jpg' %>);">
			<div class="parallax-text-container-1">
				<div class="parallax-text-item">
	<div class="row spacer40"></div>  
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="section-title-white">'That is why Capstory is such a great tool to use for your wedding day.'</h2>
							</div>
						</div>
						<div class="row spacer40"></div>
						<div class="row">
							<div class="col-md-12">
								<p class="white text-center" style="font-size:20px;">Desiree Hartsock, ABC's <em>The Bachelorette</em></p> 
								<p class="white text-center" style="font-size:20px;"><a href="http://www.desireehartsock.com/photo-sharing-for-your-wedding-capstory/" style="color:white;"><em>See More on Her Blog</em></a></p> 
							</div>
						</div>
						<div class="row spacer50"></div>
					</div> 
				</div>
    </div>        
  </div>
  </section>
  
    <div class="logos-full">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logos">
							<span class="logo-cell"><%= image_tag "toss_the_bouquet.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "engage13.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "jet-fete.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "ruffled.png", alt: "client1" %></span>
            </div>
          </div>           
        </div>
      </div>    
    </div>

  
   <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">How It Works</h2>         
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail-slider">
						<%= image_tag "text_message.png" %>
          </div>
                  
        </div>
        <div class="col-md-6">
          <div class="spacer15"></div>
					<h3>Photo Collection</h3>
					<p>The Capstory uploading tools make it simple for the couple to get access to all of the photos and videos captured throughout their wedding journey.</p> 
					<p>The easiest way to add content is by text-messaging. Every personal webpage is assigned a unique address. The bride, groom, friends and family can instantly share the memories from their mobile devices by sending them in via text-message.</p>
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="spacer30"></div>
          <h3 class="big">Live Stream at Your Events</h3>
          <p>Capstory technology works instantly, allowing the photos to be live streamed from the capsule at the reception (don't worry, our professionals keep a close-eye on the photos to make sure nothing inappropriate shows up).</p>
					<p>The live stream is normally quite a hit at events. A projector connected to a computer with an internet connection, via WiFi, 4G Hotspot or LAN, allows venues to show photos appearing in the capsule as soon as they are submitted. Hence, guests get the gratification of instant feedback.</p>
        </div>
        <div class="col-md-7 col-sm-7">
					<div class="thumbnail-slider">
						<ul class="slides">
							<li>
								<%= image_tag "live_stream.png" %>
							</li>
						</ul>
        </div>
        </div>
      </div>      
      <div class="row spacer100"></div>      
    </div>     
  </section>   



	<div id="parallax-two" class="parallax" style="background-image:url(<%= asset_path 'field_couple.jpg' %>);">
		<div class="parallax-colored">
			<div class="parallax-text-container-2">
				<div class="parallax-text-item">
					<div class="container">
						<div class="row spacer40"></div>
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="section-title-white">No App Needed</h2>
							</div>
						</div>
						<div class="row spacer40"></div>
						<div class="row">
							<div class="col-md-12">
								<p class="white text-center" style="font-size:20px;">We offer a truly unique array of options for submitting photos without the need to download an app. <br> One less thing for people to worry about.</p> 
							</div>
						</div>
						<div class="row spacer50"></div>
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-mobile" style="color:white;"></i>
									</div>
									<div class="services-1-title-white">VIA TEXT MESSAGE</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-envelope" style="color:white;"></i>
									</div>
									<div class="services-1-title-white">VIA EMAIL</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-laptop" style="color:white;"></i>
									</div>
									<div class="services-1-title-white">VIA DIRECT UPLOAD</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="services-1">
									<div class="services-1-icon">
										<i class="fa fa-user" style="color:white;"></i>
									</div>
										<div class="services-1-title-white">VIA CUSTOMER SERVICE</div>
								</div>
							</div>                
						</div>
						<div class="row spacer70"></div>
					</div> 
				</div>
      </div>
    </div>        
  </div>

  <section> 
  
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">A Webpage for Every Bride</h2>         
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="spacer30"></div>
          <h3 class="big">Photos and Videos in One Location</h3>
					<p>Everyone's photos, videos, and stories, in one shared location online. The webpage is your 'photo booth in the cloud'. It is the storage capsule for every memory collected, from every candid perspective. In these moments, one lens is not enough. Capture the entire crowd's authentic experience, in one shared location.</p>
          <%# <p><button type="button" class="btn btn-primary">More</button></p> %>
        </div>
        <div class="col-md-7 col-sm-7">
        <div class="laptop">
					<%= image_tag "corporate_template/slider-laptop/laptop.png" %>
          <div class="laptop-slider">
            
            <ul class="slides"> 
              <li>        
								<%= image_tag "large_capsule_screen_shot.png" %>
              </li>  
            </ul>
          </div>
        </div>
        </div>
      </div>      
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="clients">            
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "tablet 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "laptop 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "mobile 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "desktop 4x" %></div>
            </div>  
          </div>
        </div>
        <div class="col-md-6">
          <h3>Accessible Everywhere</h3>
					<p>The capsule can be accessed anywhere, on any device with an internet connection. With mobile and tablet friendly sites, view the capsule from phone, tablet, and computer all at the same time. The capsule is constantly being updated live as new media is submitted, so even guests that weren't able to make it to the wedding can follow along in the special moment!</p>
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <h3>Professional Help</h3>
					<p>Capstory's team of professionals handles the (oftentimes) cumbersome process of reaching out to guests after an event, prompting them to share photos and videos they collected. With automated emails to the guest list and reminder text-messages, we ensure no moment is lost.</p>
      
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <h3>Active, Remote Moderation During a Live Event</h3>
					<p>During the reception, our professionals moderate the photo stream, based on client discretion, to ensure nothing inappropriate shows up on the big screen! No need to worry when the groomsmen have too much fun with the open bar... Our team handles this process remotely as to not introduce any additional strangers or clutter to the reception environment.</p>
      
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="clients">            
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "twitter 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "instagram 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "facebook 4x" %></div>
            </div>  
          </div>
        </div>
        <div class="col-md-6">
          <h3>Social Media Integration</h3>
					<p>If a client or guests decide to use a Twitter or Instagram hashtag for any part of the event, let us know and we'll be sure to automatically integrate these memories into the website too.</p>
        </div>
      </div>
      <div class="row spacer100"></div>
    </div>
   
  <footer id="contact"> <!-- footer begings -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">Request More Information</h2>
					<div class="row spacer40"></div>
        </div>
      </div>
      <div class="row spacer40"></div>    
      <div class="row">
				<%= form_for(@contact_form, remote: true) do |f| %>
          <div class="col-xs-12">
            
            <div class="row">            
              <div class="form-group col-xs-6">
								<%= f.label :name %>
								<%= f.text_field :name, class: "form-control", id: "name2", placeholder: "Name" %>
              </div>
              <div class="form-group col-xs-6">
								<%= f.label :email %>
								<%= f.text_field :email, class: "form-control", id: "email2", placeholder: "E-mail" %> 
              </div>
            </div>
            
            <div class="row">            
              <div class="form-group col-xs-12">
								<%= f.label :message %>
								<%= f.text_area :message, class: "form-control", id: "message2", placeholder: "Message", rows: 8 %>

              </div>
            </div> 
            <div class="row spacer30"></div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <p class="text-center">Please, fill out the form and press submit. Or, contact us by email or telephone. Our email and phone number are below.</p>
              </div>
            </div>
            <div class="row spacer10"></div>
            <div class="row">            
              <div class="col-xs-12 text-center">
							<div class="alert alert-success" id="contact_form_success" style="display:none;">The e-mail was successfully sent. Thank you. We will reach back out to you as soon as we possibly can.</div>
							<div class="error alert alert-danger" id="err-form">There is a problem with the contact form, please verify that all the fields are filled out correctly.</div>
            <div class="error" id="err-timedout">The connection to the server timed out!</div>
            <div class="error" id="err-state"></div>
              
								<%= f.submit "Submit", class: "btn btn-default" %>
              </div>
            </div>
          </div>  
					
				<% end %>
      </div>      
    </div>
    <div class="top">
        <div class="top-line"></div>
      <a class="back-to-top"><i class="fa fa-angle-up"></i></a>    
    </div>      
    <div class="container">    
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>KEEP IN TOUCH</h4>
          <div class="footer-socials">
              <a href="http://twitter.com/capstory"><i class="fa fa-twitter"></i></a>
              <a href="http://www.facebook.com/capstory"><i class="fa fa-facebook"></i></a>
              <a href="http://www.pinterest.com/capstory"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        
      
        
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>ADDRESS</h4>
          <p>1275 Kinnear Road, Columbus, OH 43212</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>SUPPORT</h4>
          <p>If you have a question or comment, please contact us.</p>
          <p><button type="button" class="btn btn-primary">Phone: 513-401-5572</button></p>
          <p><button type="button" class="btn btn-primary">Email: hello@capstory.me</button></p>
					<p><%= link_to "Login", login_path, class: "btn btn-primary" %></p>
        </div>        
      </div>
    </div>
    <div class="spacer100"></div>
  </footer> <!-- Footer ends -->
