<div class="row" id="loginPage">
	<div class="small-8 small-centered columns" id="login_logo" style="text-align:center;">
		<%= link_to image_tag("logo.png", width: '600px'), root_url %>
	</div>
	<% flash.each do |key, value| %>
		<% alert_class = key == :error ? :alert : key %>
		<div class="alert-box <%= alert_class %>">
			<p class="subheader"><%= value %></p>
			<a href class="close">x</a>
		</div>
	<% end %>
	<div class="small-6 small-centered columns">
		<div class="panel">
			<%= form_tag "auth/identity/callback" do %>
				<%= label_tag :auth_key, "Enter Your Email" %>
				<%= text_field_tag :auth_key %>
				
				<%= label_tag :password, "Enter Your Password" %>
				<%= password_field_tag :password %>
				
				<%= submit_tag "Login", class: 'button' %>
			<% end %>
		</div>
	</div>
</div>