<div class = "headerWrapper"> 

	<section class="PartOne">  
	<div class = "navbar">
		<a href="/login" class="Login" style= "font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 22px; font-weight: 300; color: #FFFDEA; text-decoration:none;">LOGIN</a>
	</div>
	<%# <img src="caplogo.png" alt="logo" style="width:400px; height:175px; margin-bottom: 20px; padding-top: 3%;"> %>
	<%= image_tag "new_brand/caplogo.png", alt: "logo", class: "mainLogo" %> 

		<h1 style="line-height: 1.5em;">Every moment, Every Perspective.</br>Captured and Live Streamed at Your Event.</h1>
	</section>

</div>

<div class="headerBorder"></div>

<section class="PartTwo">
		<div style="margin:35px;">
			<h3> CAPSTORY TRANSFORMS YOUR EVENT SPACE INTO AN ENGAGING LIVE PHOTO EXPERIENCE.</h3>
		</div>
		<div class="container">         
			<div class="centerContent">
				<div class = "description">
					<p>Your guests capture their favorite authentic and spontaneous moments from your next fundraiser, corporate celebration or holiday party and share them with everyone in an instant. There's no app for them to download and it works on any cellphone, tablet or computer! <br> </p> 
				</div>         

				<div class="requestDemoBtnDiv hideOnPhone">
					<button class="requestDemoBtn"><a href="mailto:hello@capstory.me">Request a Demo</a></button>
				</div>

				<%# <div class="RequestDemo"> %>
				<%# 	<input type="image" name="submit" value="submit" src="/images/Request-Demo-Button-Large.png" /> %>
				<%# </div> %>

				<div class="requestDemoBtnDiv hideOnFull showOnPhone">
					<button class="requestDemoBtn" style="padding-top:15px;padding-bottom:15px;padding-left:70px;padding-right:70px;">Request a Demo</button>
				</div>
				<%# <div class = "dotone"> %>
					<div class="dottedLine"></div>
				<%# </div> %>

			</div>
		</div>

		<div class="centerContent" >

			<ul class="slides">
				<input type="radio" name="radio-btn" id="img-1" checked />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="ASM_4.jpg" /> %>
					<%= image_tag "new_brand/ASM_4.jpg" %>
				</div>
				<div class="nav">
					<label for="img-6" class="prev">&#x2039;</label>
					<label for="img-2" class="next">&#x203a;</label>
				</div>
				</li>

				<input type="radio" name="radio-btn" id="img-2" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="ASM_5.jpg" /> %>
					<%= image_tag "new_brand/ASM_5.jpg" %>
				</div>
				<div class="nav">
					<label for="img-1" class="prev">&#x2039;</label>
					<label for="img-3" class="next">&#x203a;</label>
				</div>
				</li>

				<input type="radio" name="radio-btn" id="img-3" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="ASM_6.jpg" /> %>
					<%= image_tag "new_brand/ASM_6.jpg" %>
				</div>
				<div class="nav">
					<label for="img-2" class="prev">&#x2039;</label>
					<label for="img-4" class="next">&#x203a;</label>
				</div>
				</li>

				<input type="radio" name="radio-btn" id="img-4" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="ASM_7.jpg" /> %>
					<%= image_tag "new_brand/ASM_7.jpg" %>
				</div>
				<div class="nav">
					<label for="img-3" class="prev">&#x2039;</label>
					<label for="img-5" class="next">&#x203a;</label>
				</div>
				</li>

				<input type="radio" name="radio-btn" id="img-5" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="ASM_8.jpg" /> %>
					<%= image_tag "new_brand/ASM_8.jpg" %>
				</div>
				<div class="nav">
					<label for="img-4" class="prev">&#x2039;</label>
					<label for="img-6" class="next">&#x203a;</label>
				</div>
				</li>

				<input type="radio" name="radio-btn" id="img-6" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="McDs_1.jpg" /> %>
					<%= image_tag "new_brand/McDs_1.jpg" %>
				</div>
				<div class="nav">
					<label for="img-5" class="prev">&#x2039;</label>
					<label for="img-1" class="next">&#x203a;</label>
				</div>

				<input type="radio" name="radio-btn" id="img-6" />
				<li class="slide-container">
				<div class="slide">
					<%# <img src="McDs_2.jpg" /> %>
					<%= image_tag "new_brand/McDs_2.jpg" %>
				</div>
				<div class="nav">
					<label for="img-5" class="prev">&#x2039;</label>
					<label for="img-1" class="next">&#x203a;</label>
				</div>
				</li>
				<li class="nav-dots">
				<label for="img-1" class="nav-dot" id="img-dot-1"></label>
				<label for="img-2" class="nav-dot" id="img-dot-2"></label>
				<label for="img-3" class="nav-dot" id="img-dot-3"></label>
				<label for="img-4" class="nav-dot" id="img-dot-4"></label>
				<label for="img-5" class="nav-dot" id="img-dot-5"></label>
				<label for="img-6" class="nav-dot" id="img-dot-6"></label>
				</li>
			</ul> 

		</div>
		<%# <div class = "dottwo"> %>
			<div class="dottedLine" style="margin-top:60px;margin-bottom:60px;"></div>  
		<%# </div> %>

		<h2> HOW IT WORKS</h2>

		<div class="picHolder">   
			<div class="explanatoryPics">
				<%# <img src="Capture-2.png" alt="Capture" style="width: 66%;"> %>
				<%= image_tag "new_brand/capture-3.png", alt: "Capture" %>
			</div>			
			<div class="explanatoryPics">
				<%# <img src="Share-2.png" alt="Share" style="width: 66%;"> %>
				<%= image_tag "new_brand/share-2.png", alt: "Share" %>
			</div>
			<div class="explanatoryPics">
				<%# <img src="Enjoy-2.png" alt="Enjoy" style="width: 66%; padding-top: .5%"> %>
				<%= image_tag "new_brand/enjoy-2.png", alt: "Enjoy" %> 
			</div>
		</div>

		<%# <div class = "dotthree"> %>
			<div class = "dottedLine"> </div>  
		<%# </div> %>
		<div class="logobox">
			<h3 class="partnersHeader">Capstory has worked with these great brands:</h3>   
			<div class="partnerLogo hideOnPhone" style="width: 18%">
				<%# <img src="McDonalds-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/McDonalds-Logo_Grey.png", alt: "Capture", width: "60%" %>
			</div>
			<div class="partnerLogo partnerLogoMobile hideOnFull showOnPhone">
				<%# <img src="McDonalds-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/McDonalds-Logo_Grey.png", alt: "Capture", width: "60%" %>
			</div>
			<div class="partnerLogo hideOnPhone" style="width: 34%">
				<%# <img src="Pure-Romance-Logo_Grey.png" style= "padding-top: 14%; alt="Capture"> %>
				<%= image_tag "new_brand/Pure-Romance-Logo_Grey.png", alt: "Capture", width: "100%" %>
			</div>
			<div class="partnerLogo partnerLogoMobile hideOnFull showOnPhone">
				<%# <img src="Pure-Romance-Logo_Grey.png" style= "padding-top: 14%; alt="Capture"> %>
				<%= image_tag "new_brand/Pure-Romance-Logo_Grey.png", alt: "Capture", width: "100%" %>
			</div>
			<div class="partnerLogo hideOnPhone" style="width: 26%">
				<%# <img src="Drees-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/Drees-Logo_Grey.png", alt: "Capture", width: "70%" %>
			</div>
			<div class="partnerLogo partnerLogoMobile hideOnFull showOnPhone">
				<%# <img src="Drees-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/Drees-Logo_Grey.png", alt: "Capture", width: "70%" %>
			</div>
			<div class="partnerLogo hideOnPhone" style="width: 20%">
				<%# <img src="ASM-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/ASM-Logo_Grey.png", alt: "Capture", width: "70%" %>
			</div>
			<div class="partnerLogo partnerLogoMobile hideOnFull showOnPhone">
				<%# <img src="ASM-Logo_Grey.png" alt="Capture"> %>
				<%= image_tag "new_brand/ASM-Logo_Grey.png", alt: "Capture", width: "70%" %>
			</div>
		</div>
				<div class="requestDemoBtnDiv hideOnFull showOnPhone">
					<button class="requestDemoBtn" style="padding-top:15px;padding-bottom:15px;padding-left:100px;padding-right:100px;"><a href="mailto:hello@capstory.me">Request a Demo</a></button>
				</div>
		</section>


		<div class = "footerBorder"></div>

		<section class="PartThree">

		<%# <div class="PartThreegroup"> %>
			<div class="footerRow">
				<div class="footerColumn">
					<div class="addressSection">
						<h3>CONTACT US</h3>	
						<p>1275 Kinnear Rd.</p>
						<div class="hideOnPhone">
							<p>Columbus, Ohio 43212</p>
						</div>
						<div class="showOnPhone hideOnFull">
							<p style="line-height:1em;">Columbus, Ohio </br>43212</p>
						</div>
						<a href="https://capstory.me/login">hello@capstory.me</a>
						<p>(513) 401-5572</p>
					</div>
				</div>

				<div class="footerColumn hideOnPhone">
					<div class="requestDemoBtnDiv">
						<button class="requestDemoBtn" style="padding-top:15px;padding-bottom:15px;padding-left:100px;padding-right:100px;"><a href="mailto:hello@capstory.me">Request a Demo</a></button>
					</div>
					<%# <div class= "RequestDemo"> %>
						<%#	 <input type="image" name="submit" value="submit" src="/images/Request-Demo-Button-Large.png" style= "padding-right: 0;"/> %>
						<%# </div> %>

					<div class="socialIconsDiv">
						<div class="socialIcon">	
							<a href="https://twitter.com/Capstory">
							<%# <img src="Twitter-Icon.png" alt="Twitter" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
							<%= image_tag "new_brand/Twitter-Icon.png", alt: "Twitter", style: "", width: "40px" %>
							</a>
						</div>
						<div class="socialIcon">
							<a href="https://www.instagram.com/capstory">
								<%= image_tag "new_brand/Instagram-Icon.png", alt: "Instagram", width: "40px" %>
							</a>
						</div>
						<div class="socialIcon">
							<a href="https://www.facebook.com/Capstory">
								<%# <img src="Facebook-Icon.png" alt="Facebook" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
								<%= image_tag "new_brand/Facebook-Icon.png", alt: "Facebook", width: "40px" %>
							</a>
						</div>

						<div class="socialIcon">
							<a href="https://www.linkedin.com/company/capstory">
								<%# <img src="LinkedIn-Icon.png" alt="LinkedIn" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
								<%= image_tag "new_brand/LinkedIn-Icon.png", alt: "LinkedIn", width: "40px" %>
							</a>
						</div>
					</div>	
				</div>

				<div class="footerColumn footerLogo">
					<%# <img src="Capstory_Icon_Cream.png" alt="Icon" style="width: 108px;"> %>
					<%= image_tag "new_brand/Capstory_Icon_Cream.png", alt: "Icon", style: "width:100px;" %>
				</div>
			</div>
			<div class="socialIconsDiv hideOnFull showOnPhone">
				<div class="socialIcon">	
					<a href="https://twitter.com/Capstory">
					<%# <img src="Twitter-Icon.png" alt="Twitter" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
					<%= image_tag "new_brand/Twitter-Icon.png", alt: "Twitter", style: "", width: "40px" %>
					</a>
				</div>
				<div class="socialIcon">
					<a href="https://www.instagram.com/capstory.me">
						<%= image_tag "new_brand/Instagram-Icon.png", alt: "Instagram", width: "40px" %>
					</a>
				</div>
				<div class="socialIcon">
					<a href="https://www.facebook.com/Capstory">
						<%# <img src="Facebook-Icon.png" alt="Facebook" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
						<%= image_tag "new_brand/Facebook-Icon.png", alt: "Facebook", width: "40px" %>
					</a>
				</div>

				<div class="socialIcon">
					<a href="https://www.linkedin.com/company/capstory">
						<%# <img src="LinkedIn-Icon.png" alt="LinkedIn" style="width:42px;height:42px;border:0;padding-right:20px;"> %>
						<%= image_tag "new_brand/LinkedIn-Icon.png", alt: "LinkedIn", width: "40px" %>
					</a>
				</div>
			</div>	
		<%# </div> %>
		</section>
