<div class="row">
	<div class="small-12 small-centered columns">
		<% @orders.each do |order| %>
			<div class="panel">
				<div class="row">
					<div class="small-4 columns">
						<h3><%= link_to "Order #: #{order.id}", order %></h3>	
					</div>
					<div class="small-8 columns">
						<div class="row">
							<div class="small-2 columns">
								<h3>Status:</h3> 
							</div>
							<div class="small-10 columns">
								<div data-alert class="<%= order.status_class %>">
									<%= order.admin_status %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-4 columns">
						<h3><%= order.client_names %></h3>
					</div>
					<div class="small-8 columns">
						<% if order.vendor %>
							<h3>Vendor: <%= order.vendor.name %></h3>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
