<div class="row">
	<div class="small-6 small-centered columns">
		<h3>Order Information</h3>
		<p>Clients: <%= @order.client_names %></p>
		<p>Requested Address: <%= @order.requested_address %></p>
		<p>Requested Upgrades: <%= @order.requested_upgrades %></p>
		<p>Event Date: <%= @order.event_date.to_formatted_s(:long) %></p>
		<h3>Client Information</h3>
		<p>Client Email: <%= @order.email %></p>
		<p>Address Line 1: <%= @order.shipping_1 %></p>
		<p>Address Line 2: <%= @order.shipping_2 %></p>
		<p>City: <%= @order.shipping_city %></p>
		<p>State: <%= @order.shipping_state %></p>
		<p>Zip Code: <%= @order.shipping_zip %></p>
	</div>
</div>
