<style>

	.snapshot {
		margin-top:20px;
		margin-bottom: 20px;
	}

	.snapshot p {
		margin-top:15px;
		text-align:center;
	}

	.site_footer .social_links {
		padding-left: 15px;
	}

	.copyright {
		padding-top: 20px;
	}

	.feature_box {
		text-align: center;
	}

	blockquote {
		border-left:none;
	}

	.vcard {
		border: none;
	}

	.footer {
		background-color: black;	
		color: #c4c5c7;
		padding-bottom: 40px;
	}

	.footer h3, h5 {
		color:#c4c5c7;
	}

	.footer form label {
		color: #c4c5c7;
	}

	.footer form textarea {
		background-color: #c4c5c7;
	}

	.footer form input[type='text'], input[type='email'] {
		background-color: #c4c5c7;
	}

	.social_links {
		width: 100%;
		font-size: .1px;
		text-align: justify;
		display: inline-block; }

	.social_links:after {
		content: "";
		width: 100%; }

	.social_links li {
		display: inline-block;
		font-size: 130em;
		text-align: center;
		width: 20%;
		margin-left: 10px;
		margin-bottom: 1.23077em; }

	.social_links li a {
		margin: 0 auto;
		display: block;
		text-indent: -9999px;
		width: 2.92308em;
		height: 2.92308em; }

	.social_links li a:hover {
		text-decoration: none; }

	.social_links li.twitter a {
		background: transparent url(<%= asset_path "homepage/img-twitter.png" %>) no-repeat center;
		background-size: contain; }

	.social_links li.instagram a {
		background: transparent url(<%= asset_path "homepage/img-instagram.png" %>) no-repeat center;
		background-size: contain; }

	.social_links li.vimeo a {
		background: transparent url(<%= asset_path "homepage/img-vimeo.png" %>) no-repeat center;
		background-size: contain; }

	.social_links li.pinterest a {
		background: transparent url(<%= asset_path "homepage/img-pinterest.png" %>) no-repeat center;
		background-size: contain; }

	.social_links li.facebook a {
		background: transparent url(<%= asset_path "homepage/img-facebook.png" %>) no-repeat center;
		background-size: contain; }
</style>
<div class="row">
	<div class="small-6 small-centered columns" style="margin-top:60px;margin-bottom:60px;">
		<%= link_to image_tag("logo.png", width: '450px'), self.send(resolve_logo_route) %>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered medium-6 medium-centered columns">
		<ul class="pricing-table">
		  <!-- <li class="title">Premium</li> -->
		  <li class="price">$500 <small class="subheader">USD</small></li>
			<li class="description">You can use your capsule right away for bridal showers, cake tastings and more! <br>-<br>Take a picture. Text a picture. Treasure it forever.</li>
		  <li class="bullet-item">Personalized guest instruction cards</li>
		  <li class="bullet-item">Live stream of guest photos with remote moderation</li>
		  <li class="bullet-item">Professional retouching</li>
		  <li class="bullet-item">2 Luxury keepsake photo books</li>
		  <li class="bullet-item">Unlimited Photo Submissions & Viewing</li>	  
		  <li class="bullet-item">Download full-res photos at no additional cost</li>	  
			<li class="cta-button"><%= link_to "Buy Now", purchase_path, class: "button" %></li>
		</ul>
	</div>
</div>
<div class="row" style="margin-top:40px;margin-bottom:60px;">
	<div class="small-12 small-centered columns">
		<p style="text-align:center;">Every capsule comes with 24/7 concierge service and a money-back guarantee. If you aren't happy with the product, we will refund your money - no questions asked.</p>
	</div>
</div>
 
<div class="footer" style="padding-top:60px;" id="site_footer">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h2 style="color:#fff;text-align:center;">
				Customer Service
			</h2>
			<hr>
			<h4 style="color:#fff;text-align:center;">We're always here to answer your questions</h4>
		</div>
	</div>
	<div class="row show-for-small-only" style="margin-top:40px;">
		<div class="small-12 columns" style="color:#c4c5c7">
			<div class="row">
				<div class="small-6 columns">
					<h3>Phone</h3>
				</div>
				<div class="small-6 columns">
					<h5>614-416-8010</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<h3> Email</h3>
				</div>
				<div class="small-6 columns">
					<h5><a href="mailto:hello@capstory.me">hello@capstory.me</a></h5>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<h3>Address</h3>
				</div>
				<div class="small-6 columns">
					<ul class="vcard">
						<li class="street-address">81 Mill Street</li>
						<li class="street-address">Suite 300</li>
						<li class="locality">Columbus, <span class="state">OH</span> <span class="zip">45321</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row show-for-medium-up" style="margin-top:40px;">
		<div class="medium-4 columns">
			<h3>Phone</h3>
			<h5>614-416-8010</h5>
		</div>
		<div class="medium-4 columns">
			<h3> Email</h3>
			<h5><a href="mailto:hello@capstory.me">hello@capstory.me</a></h5>
		</div>
		<div class="medium-4 columns">
			<h3>Address</h3>
			<ul class="vcard">
				<li class="street-address">81 Mill Street</li>
				<li class="street-address">Suite 300</li>
				<li class="locality">Columbus, <span class="state">OH</span> <span class="zip">45321</span></li>
			</ul>
		</div>

	</div>
	<div class="row" style="margin-top:40px;">
		<div class="small-6 columns">
			<div class="copyright">
				<p><small>© 2012-2014 Capstory&#153 All rights reserved.</small></p>
			</div> <!-- /copyright -->
		</div>
		<div class="small-6 columns">
			<ul class="social_links">


				<li class="twitter"><a href="http://twitter.com/capstory">Twitter</a></li>

				<li class="facebook"><a href="http://www.facebook.com/capstory">Facebook</a></li>

				<!-- <li class="instagram"><a href="http://instagram.com/capstoryweddings">Instagram</a></li> -->

				<!-- <li class="vimeo"><a href="/">Vimeo</a></li> -->

				<li class="pinterest"><a href="http://www.pinterest.com/capstory/">Pinterest</a></li>

			</ul> <!-- /social_links -->			
		</div>
	</div>
</div>
