<style type="text/css">

body.home .background_wrapper {
  width: 100%;
  background: black url(<%= asset_path 'homepage/desiree_header_reversed.jpg' %>) no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 285px;
  height: 469px; 
}
body.home .background_wrapper:after {
  content: "&nbsp;";
  width: 100%;
  height: 100%;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 8;
  min-height: 285px; 
}

body.home .background_wrapper .introcontent {
	position: relative;
	z-index: 9; 
}

body.home .background_wrapper .introcontent .intro {
	padding-top: 10%;
}

/*body.home .background_wrapper .introcontent .intro {
  width: 100%;
  float: left;
  margin-left: 1.5873%;
  display: inline; 
}

@media only screen and (min-width: 400px) {
	body.home .background_wrapper .introcontent .intro {
	  margin-top: 5%; 
	} 
}

html.lt-ie9 body.home .background_wrapper .introcontent .intro {
  margin-top: 5%; 
}

@media only screen and (min-width: 600px) {
  body.home .background_wrapper .introcontent .intro {
    width: 61.90476%;
    float: left;
    *margin-left: -1.25em;
    display: inline; 
  } 
}

html.lt-ie9 body.home .background_wrapper .introcontent .intro {
  width: 61.90476%;
  float: left;
  *margin-left: -1.25em;
  display: inline; 
}

@media only screen and (min-width: 1000px) {
  body.home .background_wrapper .introcontent .intro {
    margin-top: 15%;
    width: 23.80952%;
    float: left;
    *margin-left: -1.25em;
    display: inline; 
  } 
}

html.lt-ie9 body.home .background_wrapper .introcontent .intro {
  margin-top: 15%;
  width: 23.80952%;
  float: left;
  *margin-left: -1.25em;
  display: inline; 
}

@media only screen and (min-width: 1300px) {
  body.home .background_wrapper .introcontent .intro {
    margin-top: 35%; 
  } 
}

html.lt-ie9 body.home .background_wrapper .introcontent .intro {
  margin-top: 35%; 
} */
.content_section {
  padding: 3.75em 0 3.75em;
  overflow: hidden;
  *zoom: 1; 
}

body.home .background_wrapper .introcontent .intro h1 {
  color: white;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 20px; 
}

body.home .background_wrapper .introcontent .intro .btn {
  color: white;
  border-color: white;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  background-color: #c49a55;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}

body.home .background_wrapper .introcontent .intro .btn:hover {
  background: white;
  color: #c49a55;
  border: 1px solid #c49a55; 
}

.section_header {
  text-align: center;
  margin-bottom: 4em; 
}

.section_header h2, .section_header h3 {
  text-transform: uppercase; 
}

.section_header h2 {
  color: #c49a55;
  font-size: 2em; 
}

@media only screen and (min-width: 480px) {
  .section_header h2 {
    font-size: 2em; 
  } 
}

html.lt-ie9 .section_header h2 {
  font-size: 3.75em; 
}

.section_header h3 {
  font-size: 1.125em;
  margin-bottom: 0.88889em;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase; 
}

.section_header hr {
  border-color: #000;
  width: 35%;
  margin: 0px auto 1em auto; 
}

.snapshots p {
	margin-top: 15px;
	text-align: center;
}

#snapshots_section {
	padding-top: 0em;
	padding-bottom: 6em;
}

.faq_questions {
	display: none;
}

.faq_answers {
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 10px;
	background-color: white;
	border-radius: 3px;
}

.site_footer .social_links {
	padding-left: 15px;
}

.copyright {
	padding-top: 20px;
}

.alt_icon_color {
	color: #c49a55;
	margin-bottom: 20px;
}

</style>

<div id="container">
	<header class="site_header">

		<div class="background_wrapper">
			<div class="introcontent">
<!-- 	      <div class="intro">
	        <h2>
	          Guests capture images and video at all your wedding events, Capstory makes sure you get to enjoy them
	        </h2>
	         <div class="promo_group">
						<a href="#what_you_get" data-link-type="scroll" id="link_to_what_you_get" style="display:none;"></a>
				    <button class="btn btn_primary promo_group_btn" id="button_to_what_you_get">Learn More</button>
				  </div> 
	      </div> -->
	      <div class="intro">

	      	<div class="small-6 small-offset-10 columns">
	      		<h1>
	          	<!-- Guests capture images and video at all your wedding events, Capstory makes sure you get to enjoy them -->
	          	<!-- The most reliable way to collect and live stream guest photos at your wedding -->
	          	The simplest way to collect photos at your wedding
	        	</h1>
	      		<a href="#what_you_get" data-link-type="scroll" id="link_to_what_you_get" style="display:none;"></a>
				    <button class="btn btn_primary promo_group_btn get_capstory">Get Capstory</button>
	      	</div>
	      </div>
	    </div>
    </div>
		<nav class="top-bar">

		  <div class="menu-btn">
		    <span>&nbsp;</span>
		    <span>&nbsp;</span>
		    <span>&nbsp;</span>
		  </div>

		  <section class="top-bar-section">
		    <a href="#intro" class="logo" data-link-type="scroll">
					<%= image_tag("homepage/svg/logo.svg", alt: "Capstory") %>
		    </a>
		    <ul class="nav-bar right">
		    
		    	<li><%= link_to "Questions? 614-416-8010", "#site_footer", id: "contact_link_nav_question", data: { link_type: "scroll" } %></li>
		      <li><%= link_to "Login", login_path, class: "login" %></li>
		    </ul>
		  </section>
		</nav>
	</header>	
</div>

<section class="main-content" id="intro">
	<div class="content_section">
		<header class="section_header">
		  <h2>“Every bride should have Capstory at their wedding!”</h2>
		 	<hr>
		  <h3 class="subheader">Desiree Hartsock, Star of ABC's <em>The Bachelorette</em></h3>
		</header>
		<header class="section_header">		
		<div class="row" style="margin-bottom: 20px;">
			<div class="small-12 small-centered columns">
				<h3>With the following ingredients, you can collect all your guest photos</h3>
			</div>
		</div>
		<div class="row">
			<div class="small-4 columns">
				<%= fa_icon "bell 4x", class: "alt_icon_color" %>
				<h3 style="text-align:center;">Wedding</h3>
			</div>
			<div class="small-4 columns">
				<%= fa_icon "cutlery 4x", class: "alt_icon_color" %>
				<h3 style="text-align:center;">Food</h3>
			</div>
			<div class="small-4 columns">
				<%= fa_icon "glass 4x", class: "alt_icon_color" %>
				<h3 style="text-align:center;">Champagne</h3>
			</div>
			<div class="small-4 columns">
				<%= fa_icon "mobile 4x", class: "alt_icon_color" %>
				<h3 style="text-align:center;">Mobile Phone</h3>
			</div>			
		</div>
		</header>
	</div>
</section>
<section class="main-content">
	<div class="content_section" id="snapshots_section">
		<header class="section_header">
			<h3>Capstory is the only company committed to letting everyone submit photos at your wedding. No need to download an app or sign-in to an account. If your guests have cell phones that can take a picture, they can send in photos.</h3>
		</header>
		<div class="row">
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/demo_card_front.png", height: '157px', width: '220px' ) %>
				<p class="subheader">Guests can easily take and text message photos</p>
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/desiree_second.jpg", height: '157px', width: '220px' ) %>
				<p class="subheader">Live photo stream at the reception</p>
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/capsule_screen_shot.png", height: '157px', width: '220px' ) %>
				<p class="subheader">All of your guest photos in one place</p>
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/photobook_sample.jpg", height: '157px', width: '220px' ) %>
				<p class="subheader">Beautiful keepsakes from your guest photos</p>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:40px;">
		<div class="small-6 small-centered columns">
			<button class="btn btn_primary promo_group_btn get_capstory">Get Capstory</button>
		</div>
	</div>
</section>

<section class="photobreak" id="first_photobreak"></section>

<section class="main-content">
	<div class="content_section">
		<header class="section_header">
		  <h2>Your Photos, Your Capsule</h2>
		 	<hr>
		  <h3>The capsule is your personal photo album. It holds all your guests’ photos and updates with new photos automatically as they are sent in. All the photos are yours.</h3>
		</header>
		<div class="row">
			<div class="small-12 small-centered columns">
				<%= image_tag "homepage/large_capsule_screen_shot.png" %>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:40px;">
		<div class="small-6 small-centered columns">
			<button class="btn btn_primary promo_group_btn get_capstory">Get Capstory</button>
		</div>
	</div>
</section>
<section id="reminder">
    <section class="main-content">
      <section class="content_section">
        <header class="section_header">
          <h2>FAQ's</h2>
          <hr />
          <h3>Click one of the categories below for common questions and answers</h3>
        </header>
        
      	<div class="row">
        	<ul class="inline-list" style="margin-left:5px;">
	        	<li class="faq_answers" data-answer="live_slideshow"><a>Live Slideshow</a></li>
	        	<li class="faq_answers" data-answer="your_capsule"><a>Your Capsule</a></li>
	        	<li class="faq_answers" data-answer="texting_in_media"><a>Texting In Media</a></li>
	        	<li class="faq_answers" data-answer="after_the_wedding"><a>After the Wedding</a></li>
	        	<li class="faq_answers" data-answer="photo_books"><a>Photo Books</a></li>
	        	<li class="faq_answers" data-answer="video_slideshow"><a>Video Slideshow</a></li>
	        </ul>
      	</div>
      	<br>

				<div class="faq_questions" id="live_slideshow">
					<div class="row">
						<div class="small-12 columns">
							<h2>Live Slideshow</h2>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Do I have to have a screen to project this onto?</p>
						</div>
						<div class="small-8 columns">
							<p>The live slideshow can be pulled up on any laptop or computer that has an internet access. You can then plug it into a TV, projector or monitor to show it at your reception! Ask your venue for help - they almost always have a screen available for you to use. </p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>How do I set it up at my event?</p>
						</div>
						<div class="small-8 columns">
							<p>On a computer or laptop, open your browser and go to your capsule address (ex. capstory.me/joeyandheather). Then click the 'slideshow' button up top. Connect your computer to the projector or TV if you have one. That's it! You'll see photos filtering in live and they will automatically load and show new photos as they are texted in. You do not need to refresh the page or do anything else for it to load new photos.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>If I don't set up the live slideshow, will the photos still send in/be collected?</p>
						</div>
						<div class="small-8 columns">
							<p>Yes. The photos will still go into your capsule and will be there for you when you visit the page. The Live Slideshow just lets you view them as they are submitted.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>If I don't have internet at the venue, will Capstory still work?</p>
						</div>
						<div class="small-8 columns">
							<p>Yes and no - some parts will and some won’t. You will still be able to text in photos and have them be collected into your capsule. You will not be able to have your live slideshow on a computer as this requires internet. However, Capstory clients in the past have set up phone hotspots to get around this. Ask your venue or contact us for more help.</p>
						</div>
					</div>
				</div>


				<div class="faq_questions" id="your_capsule">
					<div class="row">
						<div class="small-12 columns">
							<h2>Your Capsule</h2>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Can I use my capsule before my wedding date? Will I be able to see those pictures online? </p>
						</div>
						<div class="small-8 columns">
							<p>Your capsule is created within 24 hours of us receiving your payment - usually sooner. As soon as it is setup, it is ready to go! This means you can submit content from engagement parties; bachelorette parties and more right into your capsule once it's created. You will be able to instantly view all these photos, at anytime from anywhere, at your capsule address we give to you.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>When does the capsule shut down?</p>
						</div>
						<div class="small-8 columns">
							<p>The capsule will always be available at your unique address for you and your guests to view. We keep your memories safe forever. You can submit photos into your capsule at any time after the wedding. We encourage you and your guests to submit any other photos within a week following your event so we can include those memories in your printed keepsakes.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Is the capsule link (URL) something we can share after the wedding for our guests to look back on? Or will we be the only ones with access?</p>
						</div>
						<div class="small-8 columns">
							<p>You can share your link with any and all of your guests to access and view your photos. We will also print the link to your capsule on your guest instruction cards so they know where to see photos once they text in.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>How long after the wedding will the link stay active?</p>
						</div>
						<div class="small-8 columns">
							<p>For a limited time, couples who purchase capsules now will have unlimited access to their wedding capsule - forever. We will update this page once that changes.</p>
						</div>
					</div>	
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Is there a maximum amount of pictures/videos that can be added to the capsule?</p>
						</div>
						<div class="small-8 columns">
							<p>There is no maximum number of photos or videos you can have in your capsule!</p>
						</div>
					</div>					
				</div>


				<div class="faq_questions" id="texting_in_media">
					<div class="row">
						<div class="small-12 columns">
							<h2>Texting in media</h2>
						</div>
					</div>
					<br>				
					<div class="row">
						<div class="small-4 columns">
							<p>How does texting in photos work? </p>
						</div>
						<div class="small-8 columns">
							<p>Each capsule has its own unique address to accept messages. You'll get yours when your capsule is created (ex. joeyandheather@capstory.me). This address works just like a phone number and you (and your guests) can just text photos, quotes and videos right to it from your phone just like you would any other text. No emailing required.</p>
						</div>
					</div>
					<br>				
					<div class="row">
						<div class="small-4 columns">
							<p>Can I email in photos?</p>
						</div>
						<div class="small-8 columns">
							<p>If you want to, yes. We recommend texting in photos as it is easier however, if you want to email photos to your capsule address, you can. It will still work and show up in the same way.</p>
						</div>
					</div>
					<br>				
					<div class="row">
						<div class="small-4 columns">
							<p>How quickly can we expect a picture/video to be up on the capsule once it is submitted?</p>
						</div>
						<div class="small-8 columns">
							<p>Your capsule is lightning fast. Photos, once sent from your phone, usually take 15 to 30 seconds to show up!</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Will it work on any phone? </p>
						</div>
						<div class="small-8 columns">
							<p>We built our system to work on any phone on any carrier! We currently support all carriers in the United States and all phones that can send a text.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Do my guests have to sign up beforehand? </p>
						</div>
						<div class="small-8 columns">
							<p>No. They can start sending in photos as soon as you give them your unique address with no sign up or set up required. They’ll appreciate that :).</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Are the photos high quality?</p>
						</div>
						<div class="small-8 columns">
							<p>Yes. Because of how your capsule is set up, texted in photos are the full resolution image. It is not shrunk or distorted in any way. Put another way, we’ve had couples print poster size prints from their guest images with photos sent from an iPhone.</p>
						</div>
					</div>				
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Does it require a smartphone or data plan? </p>
						</div>
						<div class="small-8 columns">
							<p>No. Texting in to Capstory works on any phone that can send a text with a photo! You don't even need a data connection or data plan to use it. </p>
						</div>
					</div>
				</div>

				<div class="faq_questions" id="after_the_wedding">
					<div class="row">
						<div class="small-12 columns">
							<h2>After the Wedding</h2>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>How many of the photos do I get to keep?</p>
						</div>
						<div class="small-8 columns">
							<p>You get to keep all of your photos. We do not charge you extra for having a ton of pictures in your capsule. You have full access to download the original, high-resolution, non-watermarked version of any and all images at any time. Really.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>When do I get access to my photos? </p>
						</div>
						<div class="small-8 columns">
							<p>You can access your photos immediately. As soon as they are sent in and show up in your capsule (usually 15-30 seconds); you can view them and download them.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Can I download the photos and print my own books, posters, etc?</p>
						</div>
						<div class="small-8 columns">
							<p>Yes. You can download any or all the photos in your capsule and do whatever you would like with them. We do not prevent or block you from doing so!</p>
						</div>
					</div>
				</div>


				<div class="faq_questions" id="photo_books">
					<div class="row">
						<div class="small-12 columns">
							<h2>Keepsake Albums</h2>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>What size are the keepsakes (photo albums)?</p>
						</div>
						<div class="small-8 columns">
							<p>There are two sizes Capstory offers currently. One is a larger book at 8” x 9”. The other is a smaller keepsake that works great as a gift item and is X.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>What quality are the keepsakes?</p>
						</div>
						<div class="small-8 columns">
							<p>The photo books are printed on high-quality, acid-free, stain resistant photo paper and are printed by a professional printing firm. If you have any problems or dislike anything with your keepsakes, we will refund or replace the book at our cost.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>How do you pick the pictures for the book?</p>
						</div>
						<div class="small-8 columns">
							<p>We have professionals on our team pick and choose the photos that best tell the story of your wedding journey. We always make sure to have a good mix of before, during and after wedding photos and will always select the best quality photos from your capsule.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>What if I don't like what you picked for the photo book?</p>
						</div>
						<div class="small-8 columns">
							<p>If you don’t like our selections from the book, let us know what we can do better. We’ll re-create your book with your preferences and you can order as many as you would like with your changes.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>What order are the photos in the book in?</p>
						</div>
						<div class="small-8 columns">
							<p>The photos in the book will be in chronological order to tell the story of your wedding journey.</p>
						</div>
					</div>
				</div>


				<div class="faq_questions" id="video_slideshow">
					<div class="row">
						<div class="small-12 columns">
							<h2>Service</h2>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>What are the terms/details of the money back guarantee?</p>
						</div>
						<div class="small-8 columns">
							<p>Pretty simple. We want to have happy customers. It doesn’t help us to have a customer unsatisfied with our product. If we can’t fix the problem to your satisfaction, we will give you a full refund on the cost of your capsule package returned to your credit card. We are open to doing this anytime you are unsatisfied and you can just email our customer happiness team member Kelli Foster at <%= link_to "hello@capstory.me", "mailto:hello@capstory.me" %> with the subject line “Refund request” and your message. It will be processed within one business day.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="small-4 columns">
							<p>Would we be able to get extra guest instruction cards?</p>
						</div>
						<div class="small-8 columns">
							<p>Yes. Let us know how many you would like and we will quote you a fixed, transparent price. For reference, buying cards for 100 extra guests costs about $50 including shipping.</p>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:40px;">
					<div class="small-6 small-centered columns">
						<button class="btn btn_primary promo_group_btn get_capstory">Get Capstory</button>
					</div>
				</div>

      </section>
    </section>
</section>

<section class="photobreak" id="second_photobreak"></section>

<section class="main-content">
	<div class="content_section">
		<header class="section_header">
		  <h2>Testimonials</h2>
		 	<hr>
		  <h3>Here's what our clients are saying</h3>
		</header>
		<div class="row">
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/amanda_alex_testimonial.png", width: '220px' ) %>
				
				<blockquote>
					Our guests couldn't get enough of Capstory at our wedding. The live photo stream really helped pull the whole event together, and the photobook is full of great memories that we wouldn't have captured otherwise!
					<cite>
						Amanda Renaud, Bride
					</cite>
				</blockquote>
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/mark_testimonial.jpg", width: '220px' ) %>
				<blockquote>
					We really were pleased to have Capstory at our daughter's wedding. We got some great pictures from different folks including photos from friends who are excellent photographers. Everything was really easy for anyone to upload pictures.
					<cite>
						Mark Evans, Father of the Bride
					</cite>
				</blockquote>
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/sanjeet_angela_testimonial.jpg", width: '220px' ) %>
				<blockquote>
					It was awesome having Capstory at our reception. Guests loved using it all night and I got to see the wedding and all the photos the very next day!
					<cite>
						Sanjeet Grewal, Groom
					</cite>
				</blockquote>				
			</div>
			<div class="small-4 columns snapshots">
				<%= image_tag("homepage/chris_des_testimonial.jpg", width: '220px' ) %>
				<blockquote>
					When your maid of honor snaps photos of you getting ready, laughing, crying, hugging family, and enjoying your special day, you will want to see those moments. That is why Capstory is such a great tool to use for your wedding day.
					<cite>
						Desiree Hartsock, ABC’s Bachelorette
					</cite>
				</blockquote>
			</div>			
		</div>
	</div>
	<div class="row" style="margin-bottom:40px;">
		<div class="small-6 small-centered columns">
			<button class="btn btn_primary promo_group_btn get_capstory">Get Capstory</button>
		</div>
	</div>
</section>

<section class="photobreak" id="third_photobreak"></section>
<footer id="site_footer" class="site_footer content_section">
  <section class="footer_content footer_contact">
    <header class="section_header">
      <h2>Customer Service</h2>
      <hr />
      <h3>We're always here to answer your questions</h3>
    </header> <!-- /section-header -->
    <div class="contact_info">
      <dl class="contact_details">
        <dt>Phone</dt>
        <dd>513-401-5572</dd>
        <dt>Email</dt>
        <dd><a href="mailto:contact@capstory.me">hello@capstory.me</a></dd>
        <dt class="address_term">Address</dt>
        <dd class="address_def">
					Columbus Office<br />
          81 Mill Street<br />
					Suite 300<br />
          Columbus, OH 45321
        </dd>
      </dl> <!-- /contact-details -->
    </div> <!-- /contact_info -->
    <div class="footer_contact_form">
			<%= form_for(@contact_form) do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name, id: "contact_name" %>
				
				<%= f.label :email %>
				<%= f.text_field :email, type: "email", id: "contact_email" %>
				
				<%= f.label :message %>
				<%= f.text_area :message, id: "contact_message" %>
				
				<button class="btn btn_secondary" action="submit">Send</button>
			<% end %>
    </div>
  </section> <!-- /footer_contact -->

  <section class="footer_content">
	  <div class="row">
	  	<div class="small-6 columns">
		  	<div class="copyright">
		      <p><small>© 2012-2014 Capstory All rights reserved.</small></p>
		    </div> <!-- /copyright -->
	  	</div>
	  	<div class="small-6 columns">
	      <ul class="social_links">
	        
	      
	        <li class="twitter"><a href="http://twitter.com/capstory">Twitter</a></li>
	      
	        <li class="facebook"><a href="http://www.facebook.com/capstory">Facebook</a></li>
	      
	        <li class="instagram"><a href="http://instagram.com/capstoryweddings">Instagram</a></li>
	      
	        <!-- <li class="vimeo"><a href="/">Vimeo</a></li> -->
	      
	        <li class="pinterest"><a href="http://www.pinterest.com/capstory/">Pinterest</a></li>
	      
	      </ul> <!-- /social_links -->  		
	  	</div>
	  </div>
  </section> <!-- /footer_content -->
</footer> <!-- /site-footer -->
