<section id="reminder">
    <section class="main-content">
      <section class="content_section">
        <header class="section_header">
          <h3>Tell us when you want us to send you a reminder email</h3>
        </header>
					
          <%= form_for @reminder, html: { id: "reminder_form", class: "custom" } do |f| %>
            <ul>
	            <li class="reminder_email_group">
								<%= f.label :email %>

								<%= f.text_field :email, id:'reminder_email', placeholder: "you@domain.com" %>
	            </li>
	            <li class="reminder_date_group">
								<%= f.label :date, "When should we email you?" %>

								<%= f.select :date, options_for_select([["in 3 days", "3_days"], ["in 1 week", "1_week"], ["in 2 weeks", "2_weeks"], ["in 1 month", "1_month"], ["in 2 months", "2_months"]]), id: 'reminder_date' %>
			        </li>
			        <li class="reminder_submit_group">
								<label><br></label>
								<button class="btn btn_secondary" id="email_reminder_engage">Submit</button>
								<% f.submit "Submit", class: 'btn btn_secondary', id: "email_reminder_submit_button" %>
			        </li>
            </ul>
          <% end %>
      </section>
    </section>
</section>