<%= form_for(@capsule) do |f| %>
	<div class="row">
		<div class="small-6 columns">
			<%= f.label :name, "Capsule Name" %>
			<span data-tooltip class="has-tip tip-top" title="The default name is: A Wedding Capsule for...client's name here">
				<%= f.text_field :name %>
			</span>

			<%= f.label :email, "Capsule Email Address" %>
			<span data-tooltip class="has-tip tip-top" title="At present, write out the full email address (e.g. myweddingcapsule@capstory.me)">
				<%= f.text_field :email %>
			</span>
		</div>
		<div class="small-6 columns">
			<%= f.label :event_date, "Event Date" %>
			<%= f.text_field :event_date, class: 'date-pick' %>

			<%= f.label :response_message, "Enter a Customized Response Message" %>
			<span data-tooltip class="has-tip tip-top" title="This is the message that will be sent out by text message to everyone who submits a picture">
				<%= f.text_area :response_message %>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<%= link_to "Back to Dashboard", dashboard_path, class: "button" %>
		</div>
		<div class="small-6 columns">
			<%= f.submit "Create Capsule", class: 'button pull-right' %>
		</div>
	</div>
<% end %>