
<div class="row">
	<div class="small-10 columns">
		<h4><%= @capsule.name %></h4>
	</div>
	<div class="small-2 columns">
		<% if current_user && current_user.admin %>
			<%= link_to "Edit Capsule", edit_capsule_path(@capsule) %>
		<% end %>
	</div>
</div>

<%= button_to "Get Emails", retrieve_emails_path(capsule_id: @capsule.id, capsule_email: @capsule.email), class: 'button' %>

<% @capsule.posts.each do |post| %>
	<div class="small-4 columns">
		<div class="panel">
			<% if !post.image.blank? %>
				<%= image_tag post.image.url(:medium) %>
			<% else %>
				<p><%= post.body %></p>
			<% end %>
			<h4><small><%= post.email %>	|  <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %></small></h4>
		</div>
	</div>
<% end %>