
<div class="row">
	<div class="small-5 columns">
		<% if current_user && (current_user.admin? || capsule_owner(current_user.id, @capsule.id)) %>

			<%= link_to "Start Slideshow", slideshow_path(capsule_id: @capsule.id), class: 'button small' %>

		<% end %>
		<% the_date = @capsule.event_date ? @capsule.event_date.to_s(:long) : "Not Available" %>
		<h4 class="subheader"><%= @capsule.name %> <br><small>Event Date: <%= @capsule.event_date.nil? ? "Not Available" : the_date %></small></h4>
	</div>
	<div class="small-7 columns">
		<% if current_user && current_user.admin? %>
			<ul class="inline-list">
				<% button_classes = @capsule.email.blank? ? 'button small disabled' : 'button small' %>				

				<li><%= link_to "Edit Capsule", edit_capsule_path(@capsule), class: 'button small' %></li>
				<li><%= link_to "Add a Key Contributor", new_contributor_path(capsule_id: @capsule.id), class: 'button small' %></li>
			</ul>	
		<% end %>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-2 columns">
				<h6 class="subheader">Pictures</h6>

			</div>
			<div class="small-10 columns">
				<%= form_for(@post) do |f| %>
				  <% if @post.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

				      <ul>
				      <% @post.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
					<%= f.hidden_field :capsule_id, value: @capsule.id %>

				 	<%= f.filepicker_field :filepicker_url, multiple: false, services: "COMPUTER, DROPBOX, FACEBOOK, FLICKR, INSTAGRAM", onchange: 'onImageUpload()', button_text: "Upload A Photo", class: 'button tiny pick_file' %>
				
					<div id="after_filepicker_upload" class="alert-box success" style="display:none;">
						<p class='subheader'>Image processing finished. Click the button to complete the upload.</p>
						<%= f.submit "Upload", class: 'button' %>
					</div>


				<% end %>
			</div>
		</div>

			<%= content_tag :div, id: "original_container", data: { url: posts_url(capsule_id: @capsule.id) } do %>
					<%= render @capsule.posts.order("created_at DESC") %>
			<% end %>
	</div>
	<!-- <div class="small-3 columns">
		<h6 class="subheader">Key Contributors</h6>
		<% if current_user && ( current_user.admin? || capsule_owner(current_user.id, @capsule.id) ) %>
			<% @capsule.users.where(type: "Contributor").each do |contributor| %>
				<div class="panel">
					<p><%= link_to contributor.name, contributor %></p>
				</div>
			<% end %>
		<% else %>
			<p><%= @capsule.users.where(type: "Contributor").count %></p>
		<% end %>
	</div> -->
</div>


