
<div class="row">
	<div class="small-5 columns">
		<% if current_user && (current_user.admin? || capsule_owner(current_user.id, @capsule.id)) %>
			<button id="start_jobs" class="small" data-width="200px" data-tooltip class="has-tip" title="Press this button to start fetching recently submited photos automatically. Runs until you stop it.">Start Email Engine</button>
			<button id="stop_jobs" style="display: none;" class="small">Stop Email Engine</button>
			<%= link_to "Start Slideshow", slideshow_path(capsule_id: @capsule.id), class: 'button small' %>
		<% end %>
		<h4 class="subheader"><%= @capsule.name %></h4>
	</div>
	<div class="small-7 columns">
		<% if current_user && current_user.admin? %>
			<ul class="inline-list">
				<% button_classes = @capsule.email.blank? ? 'button small disabled' : 'button small'%>
				<li><%= button_to "Get Pics", retrieve_emails_path(capsule_id: @capsule.id, capsule_email: @capsule.email), class: "#{button_classes}", id: "get_emails_button", remote:true %></li>
				<li><%= link_to "Edit Capsule", edit_capsule_path(@capsule), class: 'button small' %></li>
				<li><%= link_to "Add a Key Contributor", new_contributor_path(capsule_id: @capsule.id), class: 'button small' %></li>
			</ul>	
		<% end %>
	</div>
</div>


<div class="row">
	<div class="small-9 columns">
		<h6 class="subheader">Pictures</h6>
		<!-- <%= link_to "Reload Photos", reload_path(id: @capsule.id), remote: true, id: 'reload_button' %> -->
		<div id="masonryContainer">
			<div id="original_container">
				<%= render 'posts', capsule: @capsule %>
			</div>
			<div id="reload_container">
			</div>
		</div>
	</div>
	<div class="small-3 columns">
		<h6 class="subheader">Key Contributors</h6>
		<% if current_user && ( current_user.admin? || capsule_owner(current_user.id, @capsule.id) ) %>
			<% @capsule.users.where(type: "Contributor").each do |contributor| %>
				<div class="panel">
					<p><%= link_to contributor.name, contributor %></p>
				</div>
			<% end %>
		<% else %>
			<p><%= @capsule.users.where(type: "Contributor").count %></p>
		<% end %>
	</div>
</div>
