<div class="row">
	<div class="large-12 columns">
		<p><%= request.env["HTTP_REFERER"] %></p>
		<p><%= request.env["PATH_INFO"] %></p>
		<p><%= request.env["REQUEST_URI"] %></p>
		<p><%= request.env["HTTP_HOST"] %></p>
	</div>
</div>
<% if current_user && (current_user.admin? || capsule_owner(current_user.id, @capsule.id)) %>
	<div class="row">
		<div class="small-2 small-offset-8 columns">
			<%= link_to fa_icon("facebook-square lg", text: "Facebook"), "#", class: "dropdown", data: { dropdown: "facebook_drop" } %>
			<ul id="facebook_drop" data-dropdown-content class="f-dropdown">
				<% if current_user.facebook_authorized? %>
					<li><%= link_to "Post Photos", "#", id: "facebook_modal_engage" %></li>
					<li><%= link_to "Logout", delete_facebook_auth_path(provider: current_user.fb_provider, uid: current_user.fb_uid), id: "facebook_deconnect" %></li>
				<% else %>
					<li><%= link_to "Login", "/auth/facebook" %></li>
				<% end %>
			</ul>
		</div>
		<div class="small-2 columns">
			<%= link_to fa_icon("ellipsis-v lg", text: "Slideshow"), "#", class: "dropdown", data: { dropdown: "drop" } %>
			<ul id="drop" data-dropdown-content class="f-dropdown">
				<li><%= link_to fa_icon("picture-o", text: "Start Slideshow"), slideshow_path(capsule_id: @capsule.id) %></li>
				<% if current_user.admin? %>
					<li><%= link_to fa_icon("edit", text: "Edit Capsule"), edit_capsule_path(@capsule) %></li>
					<li><%= link_to fa_icon("user", text: "Add a Key Contributor"), new_contributor_path(capsule_id: @capsule.id) %></li>
					<li><%= link_to "Get Email", retrieve_emails_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="small-4 columns">
		<% the_date = @capsule.event_date ? @capsule.event_date.to_s(:long) : "Not Available" %>
		<h5 class="subheader" style="text-align:left;"><%= @capsule.name %> <br><small>Event Date: <%= @capsule.event_date.nil? ? "Not Available" : the_date %></small></h5>
	</div>
	<div class="small-8 columns">
		<h4 style='text-align:left;'>Send Photos to: <br><%= link_to @capsule.email, "mailto:#{@capsule.email}" %></h4>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<!-- <div class="small-2 columns">
				<h6 class="subheader">Pictures</h6>
				
			</div> -->
			<div class="small-2 columns">
				<%= form_for(@post) do |f| %>
				  <% if @post.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

				      <ul>
				      <% @post.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
					<%= f.hidden_field :capsule_id, value: @capsule.id %>

				 	<%= f.filepicker_field :filepicker_url, multiple: true, services: "COMPUTER, DROPBOX, FACEBOOK, FLICKR, INSTAGRAM", onchange: 'onImageUpload()', button_text: "Upload A Photo", class: 'button tiny pick_file' %>

					<!-- <div id="after_filepicker_upload" class="alert-box success" style="display:none;">
						<p class='subheader'>Image processing finished. Click the button to complete the upload.</p>
					</div> -->
					<%= f.submit "Upload", class: 'button', id: 'filepicker_submit_button', style: "display:none;" %>

				<% end %>

			</div>
		</div>

			<%= content_tag :div, id: "original_container", data: { url: posts_url(capsule_id: @capsule.id) } do %>
					<%= render @capsule.posts.order("created_at DESC") %>
			<% end %>
	</div>
	<!-- <div class="small-3 columns">
		<h6 class="subheader">Key Contributors</h6>
		<% if current_user && ( current_user.admin? || capsule_owner(current_user.id, @capsule.id) ) %>
			<% @capsule.users.where(type: "Contributor").each do |contributor| %>
				<div class="panel">
					<p><%= link_to contributor.name, contributor %></p>
				</div>
			<% end %>
		<% else %>
			<p><%= @capsule.users.where(type: "Contributor").count %></p>
		<% end %>
	</div> -->
</div>


<div id="filepicker_modal" class="reveal-modal small" data-reveal>
	<div class="small-3 small-centered columns">
		<h4 class="subheader">Processing...</h4>
		<p class="subheader">thank you for your patience</p>
		<br>
		<%= fa_icon "spinner 4x spin" %>
	</div>
</div>

<% if current_user %>
	<div id="facebook_photo_push_modal" class="reveal-modal large" data-reveal>
		<div class="row">
			<div class="small-8 columns">
				<p style="text-align:left;">
					Click on all of the photos that you would like to post on Facebook. 
					<br>
					Then, press the submit button. 
				</p>
			</div>
			<div class="small-4 columns">
				<button id="facebook_push_submit">Submit</button>
				<a class="close-reveal-modal">&#215;</a>
			</div>
		</div>
		<div class="small-12 small-centered columns">
			<%= form_tag facebook_photo_push_path do %>
				<%= hidden_field_tag :user_id, current_user.id %>
				<% @capsule.posts.each do |post| %>
					<% if post.body.nil? || post.body.upcase == "NO MESSAGE" %>
						<span class="facebook_image">

							<%= image_tag(post.image.url(:thumb), class: 'modal_img', id: post.id) %>
							<%= check_box_tag "photos[#{post.id}]", post.image.url(:medium) %>
							<span class="facebook_photo_checkmark" id="checkmark_<%= post.id %>">&#10004</span>
						</span>
					<% end %>
				<% end %>

				<%= submit_tag "Submit", id: "facebook_modal_submit_button", style: "display:none;" %>
			<% end %>

		</div>
	</div>
<% end %>