<div class="row">
	<div class="small-10 columns">
		<h4><%= @user.name %></h4>
		<h5 class="subheader"><%= @user.email %></h5>
	</div>
	<div class="small-2 columns">
		<% if current_user && current_user.type == "Admin" %>
			<%= link_to "Edit User", edit_user_path(@user) %>
		<% end %>
	</div>
</div>
<%= form_for(@capsule) do |f| %>
	<%= f.hidden_field :user_id, value: @user.id %>
	<%= f.text_field :name, class:'', placeholder: 'Enter a Capsule Name' %>
	<%= f.submit "Create New Capsule", class: 'button' %>
<% end %>

<% @user.capsules.each do |capsule| %>
	<h6><%= link_to capsule.name, capsule_path(capsule.id) %></h6>
<% end %>