<div class="row">
	<div class="small-12 medium-6 columns">
		<h3>Build a Customized Photo Album</h3>
		<%# <h4>The steps are as follows:</h4> %>
		<%# <p>NorthPointe Dance Academy has partnered with Capstory to offer photo albums from the 2015 dance season. Rather than create the same photo album for everyone, we have created a template for each team with extra space for 20 additional photos of your choice.</p> %>
		<p>Capstory has selected images for each NorthPointe Dance team and created the templates. All that you need to do choose 20 of your favorite photos to be included in your album.</p>
		<%# <p>Everyone can order a customized photo album with their selection of photos and Capstory will edit the photos, arrange the photo albums, print them and ship them to your doorstep.</p> %>
		<p>Capstory will edit the photos, arrange the albums, print the album and ship it to your doorstep.</p>
	</div>
	<div class="small-12 medium-6 columns">
		<%# <h3>Northpointe Dance</h3> %>
		<%= image_tag "custom_orders/northpointe_logo_tall.png" %>
	</div>
</div>
<br>
<%# <div class="row"> %>
<%# 	<div class="small-12 columns"> %>
<%# 		<h4>The steps are as follows:</h4> %>
<%# 	</div> %>
<%# </div> %>
<div class="row">
	<div class="small-12 medium-4 columns">
		<h5>1.Choose Photos</h5>
		<%= image_tag "custom_orders/custom_order_horizontal_photos_small.png" %>
	</div>
	<div class="small-12 medium-4 columns">
		<h5>2. Choose Cover Image</h5>
		<%= image_tag "custom_orders/custom_order_cover_photo_small.png" %>
	</div>
	<div class="small-12 medium-4 columns">
		<h5>3. Enter Order and Submit</h5>
		<%= image_tag "custom_orders/custom_order_order_information_small.png" %>
	</div>
</div>
<div class="row" style="margin-top:100px">
	<div class="small-12 columns">
		<h5>If you have any questions, please don't hesitate to call <b>740-815-0559</b> and Dustin will help any way that he can.</h5>
	</div>
</div>
<div class="row" style="margin-top:60px;">
	<div class="small-12 columns">
		<h5>Select Your Team and Start Choosing Photos</h5>
		
		<%# <select id="teamSelect" onchange="setStartButtonState(event.target.value)"> %>
		<select id="teamSelect">
			<option>-- Choose a Team --</option>
			<% @capsule_names.each do |name, url| %>
				<option value="<%= url %>"><%= name %></option>
			<% end %>
		</select>
	</div>
</div>

<div class="row" style="margin-top:40px;">
	<div class="small-12 columns">
		<button class="button expand" id="startButton">Go to Step 1</button>
	</div>
</div>

<div class="row" style="margin-top:40px;margin-bottom:100px;">
	<div class="small-12 columns">
		<a href="#" data-reveal-id="multipleOrdersModal">Want to order albums from more than one team?</a>
	</div>
</div>

<div id="multipleOrdersModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Multiple Orders</h2>
	<p class="lead">What if I want to order albums from more than one team?</p>
		<p >To order albums for different teams, you must go through the ordering and checkout process for each team. All taxes are included in each order and shipping is covered. So, there is no price difference or cost to going through the checkout process numerous times. All the albums you order will be delivered together.</p>
		<p >We apologize for any inconvenience. If you have any questions or concerns please email us at <a href="mailto:hello@capstory.me">hello@capstory.me</a>. We will do everything we can to help you receive the albums that you desire.</p>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<script>
	<%# var teamSelect = document.getElementById("teamSelect"); %>
	var teamSelect;
	<%# var startButton = document.getElementById("startButton"); %>
	var startButton;
	var startButtonState;

	function setStartButtonState(selection) {
		<%# startButton.classList.remove("disabled"); %>
		startButton.removeClass("disabled");

		if ( selection == null || selection == "-- Choose a Team --") {
			<%# startButton.classList.add("disabled"); %>
			startButton.addClass("disabled");
			startButtonState = undefined;
		} else {
			<%# startButton.classList.remove("disabled"); %>
			startButton.removeClass("disabled");
			startButtonState = selection;
		}
	}

	function getStartButtonState() {
		return startButtonState;
	};

	function routeStartButton() {
		var state = getStartButtonState();

		if ( state == undefined ) { return; }

		location = "/" + state + "/#albumcreator";
	}

	window.onload = function() {
		startButton = $("#startButton");
		startButton.on("click", function() {
			return routeStartButton();	
		});
	
		<%# teamSelect.value = "-- Choose a Team --"; %>
		teamSelect = $("#teamSelect");
		teamSelect.val("-- Choose a Team --");
		teamSelect.on("change", function(evt) {
			setStartButtonState(evt.target.value);
		});

		setStartButtonState();

		<% if Rails.env.production? || Rails.env.staging? %>
			$zopim.livechat.setOnConnected(function() {
				sendSlackNotif();
			});

			$zopim.livechat.window.onShow(function() {
				sendSlackChatStarted();
			});
		<% end %>
	};

</script>
