<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>
			ul {
				list-style-type:none;
			}
		</style>
  </head>
  <body>
    <h1>Thank you for your order, <%= @customer[:full_name] %></h1>
		<hr>
		<p>Billed To:</p>
		<ul>
			<li><%= @customer[:full_name] %></li>
			<li><%= @customer[:billing_address_1] %></li>
			<li><%= @customer[:billing_address_2] %></li>
			<li><%= @customer[:billing_city] %>, <%= @customer[:billing_state] %> <%= @customer[:billing_zip] %></li>
			<li><%= @customer[:billing_country] %></li>
		</ul>
		<p>Shipping:</p>
		<ul>
			<li><%= @customer[:full_name] %></li>
			<li><%= @customer[:shipping_address_1] %></li>
			<li><%= @customer[:shipping_address_2] %></li>
			<li><%= @customer[:shipping_city] %>, <%= @customer[:shipping_state] %> <%= @customer[:shipping_zip] %></li>
			<li><%= @customer[:shipping_country] %></li>
		</ul>
    <p>Credit Card:</p>
		<ul>
			<li>Number: **** **** **** <%= @customer[:last_4] %></li>
			<li>Type: <%= @customer[:card_type] %></li>
		</ul>
		<p>The <%= @customer[:package].capitalize %> Package</p>
		<p>Amount: $<%= @customer[:amount] / 100 %></p>
		<hr>
    <p>We will be in touch very soon to get everything set up and to make sure you have the best day ever!</p>
		<p>Please contact us if you have any questions or concerns <a href="mailto:hello@capstory.me">hello@capstory.me</a></p>
  </body>
</html>
