
<div class="new_engaged_contact">
	<div class="opt_in_modal">
	  <header class="section_header">
	    <h2>Tell an Engaged Friend</h2>
	    <hr>
	    <h3>Your Capstory package is all-inclusive</h3>
	  </header>
		<br>
		<div class="opt_in_form">
	 		<%= form_for(@engaged_contact) do |f| %>
				<div style="border-radius:5px;background-color:#FFCCCC;padding:10px;margin:10px;">
					<% if @engaged_contact.errors.any? %>
				      <h4 class="subheader"><%= pluralize(@engaged_contact.errors.count, "error") %> prevented your request from being saved:</h4>
				      <ul style="list-style-type:none;margin-left:20px;">
					      <% @engaged_contact.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
				      </ul>
				  <% end %>
				</div>
				<div class="opt_in_left">
					<%= f.label :name, "Your Name" %>
					<%= f.text_field :name, "ng-model" => "engaged_contact.name" %>
	
					<%= f.label :email, "Your Email" %>
					<%= f.text_field :email, "ng-model" => "engaged_contact.email" %>
				</div>
				<div class="opt_in_right">
					<%= f.label :engaged_name, "Their Name" %>
					<%= f.text_field :engaged_name, "ng-model" => "engaged_contact.engaged_name" %>
	
					<%= f.label :engaged_email, "Their Email" %>
					<%= f.text_field :engaged_email, "ng-model" => "engaged_contact.engaged_email" %>
	
					<button class="btn btn_secondary btn_submit" action="submit">Send</button>
				</div>
			<% end %>
		</div>
		<div id="engaged_contact_copy_launch" style="margin-top:40px;">
			<p><%= fa_icon "caret-right" %>&nbsp; Click to see what we'll send</p>
		</div>
		<div id="engaged_contact_copy_show" style="display:none;">
			<p>Fill in the form above and see below is the exact message that will be sent:</p>
			<br>
			<p>Subject: {{ engaged_contact.name }} wants to help you remember your wedding!</p>
			<p>From: {{ engaged_contact.email}}</p>
			<p>To: {{ engaged_contact.engaged_email }}</p>
			<br>
			<p>Dear {{ engaged_contact.engaged_name }},</p>

			<p>Congratulations on your engagement! Your friend, {{ engaged_contact.name }}, told us the big news!</p>

			<p>
				There are going to be so many exciting days coming up and we want to help you collect all the precious moments 
				you can! Capstory is the best way to enjoy the photographs and videos your guests capture. Guests can upload 
				their photos and videos via email and text message so you can enjoy them during the reception in a live slideshow. 
				We then use these images to compile a keepsake book and a video slideshow for you to treasure.
			</p>

			<p>
				We would love to tell you more about Capstory at www.capstory.me and look forward to helping you to remember every 
				beautiful moment of your big day and days ahead. After all, in these moments one lens is not enough!
			</p>

			<p>
				Sincerely, <br>
				Your friends at Capstory <br>
				Makenzie, Dustin, & Super
			</p>
		</div>
	</div>
	<div class="clear_engaged_contact"></div>
</div>
