<div style="margin:50px;"></div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to "Back", dashboard_path, class: 'button' %>
		<%= link_to "Add Salesperson", new_vendor_employee_path(vendor_id: @vendor.id), class: 'button' %>
		<% @vendor.vendor_employees.each do |employee| %>
			<div class="panel">
				<p>Name: <%= link_to employee.name, employee %></p>
				<p>Email: <%= employee.email %></p>
				<p>Phone: <%= employee.phone %></p>
				<p>Partner Code: <%= employee.partner_code %></p>
				<%= link_to "Delete", employee, method: :delete, data: { confirm: "Are you sure?" } %>
			</div>
		<% end %>
	</div>
</div>