<div class="row">
	<div class="small-12 columns">
		<h3 class="subheader"><%= @vendor.name %></h3>
	</div>
</div>
<hr>
<div class="row">
	<div class="small-3 columns">
		<ul class="no-bullet">
			<li><%= link_to "Submit Order", "#", class: "vendor_dashboard_link", id: "show_submit_order" %></li>	
			<li><%= link_to "My Orders", "#", class: "vendor_dashboard_link", id: "show_view_orders"  %></li>	
			<li><%= link_to "Clients", "#", class: "vendor_dashboard_link", id: "show_clients" %></li>	
		</ul>
	</div>
	<div class="small-9 columns">
		<div id="show_submit_order_data" class="vendor_partial">
			<%= render "vendor_submit_order", locals: { new_order: @new_order, vendor_id: @vendor.id } %>
		</div>
		<div id="show_view_orders_data" style="display:none;" class="vendor_partial">
			<%= render "vendor_view_orders", orders: @vendor.vendor_orders %>
		</div>
		<div id="show_clients_data" style="display:none;" class="vendor_partial">
			<%= render "vendor_clients", clients: @vendor.clients %>
		</div>
	</div>
</div>
