<div class="row">
	<div class="small-6 columns">
		<h4 class="subheader">
			All Users<br>
			<small>
				Below are all the Users in the system. You can create a new one if you need to by clicking
				on the button to the right.
			</small>
		</h4>
	</div>	
	<div class="small-6 columns">
		<%= link_to "Add a New Vendor", new_vendor_page_path, class: "button" %>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th width="200">Name</th>
			<th>Email</th>
			<th>Partner Code</th>
			<th>Salespeople</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% vendor_pages.each do |vendor_page| %>
			<tr>
				<td><%= link_to vendor_page.name, vendor_page %></td>
				<td><%= vendor_page.email %></td>
				<td><%= vendor_page.partner_code %></td>
				<td><%= link_to vendor_page.vendor_employees.count, employee_index_path(vendor_page_id: vendor_page.id) %></td>
				<td><%= link_to "Add Salesperson", new_vendor_employee_path(vendor_page_id: vendor_page.id) %></td>
				<td>|</td>
				<% if vendor_page.logo %>
					<td><%= link_to "See Logo", vendor_page.logo %></td>
				<% else %>
					<td><%= link_to "Add Logo", new_logo_path(vendor_page_id: vendor_page.id) %></td>
				<% end %>
				<td><%= link_to "Edit", edit_vendor_page_path(vendor_page) %></td>
				<td><%= link_to "Delete", vendor_page_path(vendor_page), method: :delete, data: { confirm: "Are you sure?" } %></td>				
			</tr>
		<% end %>
	</tbody>
</table>
