<div class="row">
	<div class="small-6 columns">
		<h4 class="subheader">
			Capsules<br>
			<small>
				Below are all the Capsules in the system. You can create a new one if you need to by clicking
				on the button to the right.
			</small>
		</h4>
	</div>	
	<div class="small-6 columns">
		<%= link_to "Add a Capsule", new_capsule_path, class: "button" %>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th width="200">Name</th>
			<th>Owner</th>
			<th>Email</th>
			<th>Event Date</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% capsules.each do |capsule| %>
			<tr>
				<td><%= link_to capsule.name, capsule %></td>
				<td><%= link_to capsule.owners_name, capsule.owner %></td>
				<td><%= capsule.email %></td>
				<td><%= capsule.event_date %></td>
				<% if capsule.accepting_submissions? %>
					<td><%= link_to "Lock", change_capsule_status_path(capsule_id: capsule.id, capsule_action: :lock), data: { confirm: "Are you sure that you want to close this capsule from accepting submissions?" } %></td>
				<% else%>
					<td><%= link_to "Unlock", change_capsule_status_path(capsule_id: capsule.id, capsule_action: :unlock), data: { confirm: "Are you sure that you want to open this capsule to accept submissions?" } %></td>
				<% end %>
				<td><%= link_to "Edit", edit_capsule_path(capsule) %></td>
				<% if capsule.logo %>
					<td><%= link_to "See Logo", capsule.logo %></td>
				<% else %>
					<td><%= link_to "Add Logo", new_logo_path(klass: capsule.class, associated_object_id: capsule.id) %></td>
				<% end %>
				<td><%= link_to "Delete", capsule, method: :delete, data: { confirm: "Are you sure?" } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
