<div class="row">
	<div class="small-6 columns">
		<h4 class="subheader">
			Capsules<br>
			<small>
				Below are all the Capsules in the system. You can create a new one if you need to by clicking
				on the button to the right.
			</small>
		</h4>
	</div>	
	<div class="small-6 columns">
		<%= link_to "Add a Capsule", new_capsule_path, class: "button" %>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th width="200">Name</th>
			<th>Owner</th>
			<th>Email</th>
			<th>Event Date</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% capsules.each do |capsule| %>
			<tr>
				<td><%= link_to capsule.name, capsule %></td>
				<td><%= link_to capsule.owners_name, capsule.owner %></td>
				<td><%= capsule.email %></td>
				<td><%= capsule.event_date %></td>
				<td><%= link_to "Manage", manage_capsule_path(capsule_id: capsule.id) %></td>
				<td><%= link_to "Edit", edit_capsule_path(capsule) %></td>
				<td><%= link_to "Delete", capsule, method: :delete, data: { confirm: "Are you sure?" } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
