<div class="row">
	<div class="small-6 columns">
		<h4 class="subheader">
			Capsules<br>
			<small>
				Below are all the Capsules in the system. You can create a new one if you need to by clicking
				on the button to the right.
			</small>
		</h4>
	</div>	
	<div class="small-6 columns">
		<%= link_to "Add a Capsule", new_capsule_path, class: "button" %>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th width="200">Name</th>
			<th>Owner</th>
			<th>Email</th>
			<th>Event Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% capsules.each do |capsule| %>
			<tr>
				<td><%= link_to capsule.name, capsule %></td>
				<td><%= link_to capsule.owners_name, capsule.owner %></td>
				<td><%= capsule.email %></td>
				<td><%= capsule.event_date %></td>
				<td>
					<button href="#" data-dropdown="drop_<%= capsule.id %>" aria-controls="drop_<%= capsule.id %>" aria-expanded="false" class="button tiny dropdown">Capsule Options</button><br>
					<ul id="drop_<%= capsule.id %>" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<% if capsule.logo %>
							<li><%= link_to "See Logo", capsule.logo %></li>
							<li><%= link_to "Delete Logo", capsule.logo, method: :delete, data: { confirm: "Are you sure?" } %></li>
						<% else %>
							<li><%= link_to "Add Logo", new_logo_path(klass: capsule.class, associated_object_id: capsule.id) %></li>
						<% end %>
						<li><%= link_to "Export Data", export_capsule_data_path(capsule_id: capsule.id) %></li>
						<li><%= link_to "Build VDP File", build_vdp_file_path(capsule_id: capsule.id) %></li>
						<li><%= link_to "Edit Capsule", edit_capsule_path(capsule) %></li>
						<li><%= link_to "Edit Styles", "/capsules/styles/#{ capsule.id }/edit" %></li>
						<% if capsule.accepting_submissions? %>
							<li><%= link_to "Lock Capsule", change_capsule_status_path(capsule_id: capsule.id, capsule_action: :lock), data: { confirm: "Are you sure that you want to close this capsule from accepting submissions?" } %></li>
						<% else%>
							<li><%= link_to "Unlock Capsule", change_capsule_status_path(capsule_id: capsule.id, capsule_action: :unlock), data: { confirm: "Are you sure that you want to open this capsule to accept submissions?" } %></li>
						<% end %>
						<li><%= link_to "Delete Capsule", capsule, method: :delete, data: { confirm: "Are you sure?" } %></li>
					</ul>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
