<p class="subheader">Fill Out the Form Below to Create the Login Information for a User</p>
<%= form_tag "/auth/identity/register" do %>

	<%= label_tag :name %>
	<%= text_field_tag :name, @client.name %>
	
	<%= label_tag :email %>
	<%= text_field_tag :email, @client.email %>
	
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	
	<%= label_tag :password_confirmation %>
	<%= password_field_tag :password_confirmation %>
	
	<%= hidden_field_tag :user_id, @client.id %>
	
	<%= submit_tag "Create Login Data", class: 'button small' %>
	<%= link_to "Back", dashboard_path, class: 'button small' %>
	
<% end %>
