<div class="row">
	<div class="small-6 columns">
		<%= link_to "Refresh", manage_capsule_path(capsule_id: @capsule.id), class: "button expand" %>
	</div>
	<div class="small-6 columns">
		<%= link_to "Back to Dashboard", dashboard_path, class: "button expand" %>	
	</div>
</div>
<% @capsule.posts.each do |post| %>
	<div class="row">
		<div class="small-6 columns">
			<% if post.body.nil? || post.body.upcase == "NO MESSAGE" %>
				<%= image_tag(post.image(:thumb), width: "100px") %>
			<% else %>
				<p><%= post.body %></p>
			<% end %>
		</div>
		<div class="small-6 columns">
			<%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" }, class: "button small" %>
			<p class="subheader">Created: <%= post.created_at.to_formatted_s(:long) %></p>
		</div>
	</div>
	<hr>
<% end %>
