<% if @identity && @identity.errors.any? %>
    <div class="small-10 small-centered columns error_messages">
      <h4 class="subheader"><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h4>
      <ul>
	      <% @identity.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
<% end %>
<div class="row">
	<dl class="sub-nav">
	  <dt>Filter:</dt>
	  <dd class="active" id="pending"><a href="#">Pending</a></dd>
	  <dd id="validated"><a href="#">Validated</a></dd>
	  <dd id="no_status"><a href="#">No Status</a></dd>
		<dd id="all"><a href="#">All</a></dd>
	</dl>
</div>
<div class="list_of_requests" id="pending_requests">
	<% @access_requests.each do |request| %>
		<% if request.pending? %>
			<div class="panel">
				<p><%= link_to request.name, access_request_path(request) %> is awaiting confirmation</p>
				<p class="subheader">The date of their event is <%= request.event_date ? request.event_date.to_formatted_s(:long_ordinal) : "not available" %></p>
			</div>
		<% end %>
	<% end %>
</div>
<div class="list_of_requests" id="validated_requests" style="display:none;">
	<% @access_requests.each do |request| %>
		<% if request.validated? %>
			<div class="panel">
				<p><%= link_to request.name, access_request_to_client_path(name: request.name, email: request.email, event_date: request.event_date) %> has been confirmed and their capsule has been created</p>
				<p class="subheader">The date of their event is <%= request.event_date ? request.event_date.to_formatted_s(:long_ordinal) : "not available" %></p>
			</div>
		<% end %>
	<% end %>
</div>
<div class="list_of_requests" id="no_status_requests" style="display:none;">
	<% @access_requests.each do |request| %>
		<% if request.no_status? %>
			<div class="panel">
				<p><%= link_to request.name, access_request_path(request) %> has no status</p>
				<p class="subheader">The date of their event is <%= request.event_date ? request.event_date.to_formatted_s(:long_ordinal) : "not available" %></p>
			</div>
		<% end %>
	<% end %>
</div>
<div class="list_of_requests" id="all_requests" style="display:none;">
	<% @access_requests.each do |request| %>
			<div class="panel">
				<% if request.pending? %>
					<p><%= link_to request.name, access_request_path(request) %> is awaiting confirmation</p>
				<% else %>
					<p><%= link_to request.name, access_request_to_client_path(name: request.name, email: request.email, event_date: request.event_date) %> has been confirmed and their capsule has been created</p>
				<% end %>
				<p class="subheader">The date of their event is <%= request.event_date ? request.event_date.to_formatted_s(:long_ordinal) : "not available" %></p>
			</div>
	<% end %>
</div>