<h5>Access Request from: <%= @access_request.name %> @ <%= @access_request.email %></h5>
<p class="subheader">Fill Out the Form Below to Create Account from this Access Request</p>
<%= form_tag "/auth/identity/register" do %>

	<%= label_tag :name %>
	<%= text_field_tag :name, @access_request.name %>
	
	<%= label_tag :email %>
	<%= text_field_tag :email, @access_request.email %>
	
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	
	<%= label_tag :password_confirmation %>
	<%= password_field_tag :password_confirmation %>
	
	<%= hidden_field_tag :genre, "client" %>
	
	<%= hidden_field_tag :event_date, @access_request.event_date %>
	
	<%= hidden_field_tag :access_request_id, @access_request.id %>
	
	<%= submit_tag "Create Client Account", class: 'button small' %>
	<%= link_to "Back", access_requests_path, class: 'button small' %>
	
<% end %>