<div id="loader">
		<div id="progress-bar"></div>
	</div>
	
	<div id="main-container">
		
		<a id="home-scroll"></a>
		<section id="home">
		
			<div id="home-slider">
				
				<ul class="slides">
				
					<li class="has-parallax cover-bg">
						<div class="row slide-content text-center">
							<div class="medium-12 medium-centered columns">
								<!--<img class="headline-logo" alt="logo" src="img/logo-white.png" /> -->
								<div class="home-title offix">
										<div class="medium-5 title-top left"></div>
										<div class="medium-2 left">&nbsp;</div>
										<div class="medium-5 title-top left"></div>
									<div class="title-upper offix">
									
									</div>
									<h1 class="headline">Capstory</h1>
									<div class="title-lower">
										<p class="text-white"><em>When one lens is not enough.</em><br> Powered by: Matt Ryan DJ. </p>
									</div>
								</div>
								
							</div>
						</div>
						<div class="slide-overlay"></div>
						<%= image_tag "matt_ryan/bg-bw.jpg", alt: "Slider Background", class: "slider-bg" %>
					</li><!--end of individual slide-->
					
				</ul>
				
			</div><!--end of home-slider-->
		
		</section><!--end of home section-->
		
		<div id="nav-holder">
			<div id="navigation">
				<div class="row">
			
					<div class="medium-5 columns text-center">
						<ul class="menu">
							<li><a class="smooth-scroll" href="#about-scroll">About</a></li>
							<li><a class="smooth-scroll" href="#how-scroll">How it Works</a></li>
							<li><a class="smooth-scroll" href="#testimonials-scroll">Testimonials</a></li>
						</ul>
					</div>
				
				
					<div class="medium-2 columns text-center">
						<!-- <a class="smooth-scroll	" href="#home-scroll"><img id="logo" alt="logo" src="img/logo.png" /></a> -->
						<%= link_to image_tag("matt_ryan/logo.png", alt: "logo", id: "logo"), "#home-scroll", class: "smooth-scroll" %>
					</div>
				
					<div class="medium-5 columns text-center">
						<ul class="menu">
							<li><a class="smooth-scroll" href="#sample-scroll">Sample</a></li>
							<li><a class="smooth-scroll" href="#seen-scroll">Seen In</a></li>
							<li><a class="smooth-scroll" href="#contact-scroll">Contact</a></li>
						</ul>
					</div>
				
					<div class="mobile-toggle"><i class="icon icon_menu-square_alt2"></i></div>
				</div>
			</div>
		</div>
		
		<a id="about-scroll"></a>
		<section id="about" class="pad-large">
			
			<div class="row">
				<div class="medium-12 columns text-center">
					<div class="page-title">
						<h6 class="alt-h">About</h6>
						<div class="medium-4 line"><div class="icon icon-compass"></div></div>
						<h1>What is Capstory?</h1>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-12 columns text-center">
					<p class="lead">
						Capstory allows your wedding guests to instantly share the photos they take. Your guests will receive instruction cards explaining how to send their photos via a simple text message to your Capstory account. Instantly, their photos will be projected for all the wedding guests to enjoy, and saved in your personal, virtual photo album.
						
										</p>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-3 columns text-center">
					
						<!-- <img src="img/demo-card.png" /> -->
						<%= image_tag "matt_ryan/demo-card.png" %>
						<p>
						1. Guests can easily take and text message photos
				</div>
				
				<div class="medium-3 columns text-center">
					
						<!-- <img src="img/live-stream.jpg" /> -->
						<%= image_tag "matt_ryan/live-stream.jpg" %>
						<p>
						2. Live photo stream at your reception
				</div>
				
				<div class="medium-3 columns text-center">
					
						<!-- <img src="img/sample-capsule.png" /> -->
						<%= image_tag "matt_ryan/sample-capsule.png" %>
						<p>
						3. All your guest photos in one place
				</div>
				
				<div class="medium-3 columns text-center">
					
						<!-- <img src="img/keepsake.png" /> -->
						<%= image_tag "matt_ryan/keepsake.png" %>
						<p>
						4. Beautiful keepsakes from your guest photos
				</div>
			
			</div>
		
		</section><!--end of about section-->
		
		
		
		<section class="content-divider pad-top">

			
			<div class="row">
				<a id="how-scroll"></a>
				<div class="medium-6 columns text-center">
					<div class="pricing-table shrink">
						<h1>Capsule Features</h1>
						<div class="line"></div>
						<ul>
							<li>Simple to use on any phone</li>
							<li>Live Stream of guest photos</li>
							<li>Live remote stream moderation</li>
							<li>Download full-res photos at no additional cost</li>
						</ul>
						<div class="line"></div>
						<div class="medium-12 btn-holder">
						<a href="http://capstory.me/reynoldslovestory"><div class="btn"><h6 class="alt-h">View Sample Capsule</h6></div></a>
											</div>
					</div>
					
				</div><!--end of pricing table-->
				
				<div class="medium-6 columns text-center">
					<iframe src="//player.vimeo.com/video/97164515?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" width="309" height="550" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			
		</section><!--end of content divider-->
		
		<section id="testimonials" class="text-divider pad-large bg-cover">
		
			<!-- <img alt="Slider Background" class="divider-bg" src="img/chris-des.jpg" /> -->
			<%= image_tag("matt_ryan/chris-des.jpg", alt: "Slider Background", class: "divider-bg") %>
			<div class="divider-overlay"></div>
			<a id="testimonials-scroll"></a>
			<div class="testimonials-slider">
				<ul class="slides text-center">
					<li>
						<div class="row divider-content">
							<div class="medium-9 medium-centered columns">
								<h1 class="text-white">“Couldn't get enough”</h1>
								<p class="text-white lead">
									"Our guests couldn't get enough of Capstory at our wedding. The live photo stream really helped pull the whole event together, and the photobook is full of great memories that we wouldn't have captured otherwise!”
								</p>
								<!-- <img alt="Amanda" src="img/amanda.png" /> -->
								<%= image_tag("matt_ryan/amanda.png", alt: "Amanda") %>
								<h6 class="text-white alt-h">Amanda R. | Bride</h6>
							</div>
						</div>
					</li>
					
					<li>
						<div class="row divider-content">
							<div class="medium-9 medium-centered columns">
								<h1 class="text-white">“Everything was really easy”</h1>
								<p class="text-white lead">
									“We really were pleased to have Capstory at our daughter's wedding. We got some great pictures from different folks including photos from friends who are excellent photographers. Everything was really easy for anyone to upload pictures instantly from their phone, or from their nicer camera after the event.”
																	</p>
								<!-- <img alt="Avatar" src="img/mark.jpg" /> -->
								<%= image_tag("matt_ryan/mark.jpg", alt: "Avater") %>
								<h6 class="text-white alt-h">Mark E. | Father of Bride</h6>
							</div>
						</div>
					</li>
					
					<li>
						<div class="row divider-content">
							<div class="medium-9 medium-centered columns">
								<h1 class="text-white">"You will want to see those moments"</h1>
								<p class="text-white lead">
									“When your maid of honor snaps photos of you getting ready, laughing, crying, hugging family, and enjoying your special day, you will want to see those moments. That is why Capstory is such a great tool to use for your wedding day.”
																	</p>
								<!-- <img alt="Avatar" src="img/des.jpg" /> -->
								<%= image_tag("matt_ryan/des.jpg", alt: "Avatar") %>
								<h6 class="text-white alt-h">Desiree Hartsock | Future Bride, ABC's Bachelorette</h6>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
			
		
		</section><!--end of testimonials section-->
		
		<a id="sample-scroll"></a>
		<section id="work" class="pad-large">
		
			<div class="row">
				<div class="medium-12 columns text-center">
					<div class="page-title">
						<h6 class="alt-h"></h6>
						<div class="medium-4 line"><div class="icon icon-camera-1"></div></div>
						<h1>Sample Capsule</h1>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-12 columns text-center">
					
				</div>
			</div>
			
						
			<div class="row">
				<div class="medium-12 columns text-center">
					<!-- <img alt="capsule view" src="img/capsuleview.png"> -->
					<%= image_tag("matt_ryan/capsuleview.png", alt: "capsule view") %>
					<p></p>
					<p class="lead">
						The capsule is your personal photo album. It holds all your guests’ photos and updates with new photos automatically as they are sent in.
					</p>
					<a href="http://capstory.me/reynoldslovestory" target="_blank">
					<div class="btn space-top"><h6 class="alt-h">View Capsule</h6></div></a>
				</div>
			</div>
			
		</section><!--end of work section-->
		
		<a id="seen-scroll"></a>	
		<section id="clients" class="pad-normal">
		<div class="row">
			<div class="medium-12 columns text-center">
			<p class="lead">
				As seen in and trusted by:</p><p></p>
			</div>
		</div>
			<div class="row">
				<div class="medium-3 columns text-center client">
					<!-- <img alt="Client Logo" src="img/jet-fete.png" /> -->
					<%= image_tag("matt_ryan/jet-fete.png", alt: "Client Logo") %>
				</div>
				
				<div class="medium-3 columns text-center client">
					<!-- <img alt="Client Logo" src="img/wedding-chicks.png" /> -->
					<%= image_tag("matt_ryan/wedding-chicks.png", alt: "Client Logo") %>
				</div>
				
				<div class="medium-3 columns text-center client">
					<!-- <img alt="Client Logo" src="img/ruffled.png" /> -->
					<%= image_tag("matt_ryan/ruffled.png", alt: "Client Logo") %>
				</div>
				
				<div class="medium-3 columns text-center client">
					<!-- <img alt="Client Logo" src="img/people.png" /> -->
					<%= image_tag("matt_ryan/people.png", alt: "Client Logo") %>
				</div>
			</div>
		
		</section><!--end of clients section-->
	
		<a id="contact-scroll"></a>
		<section id="contact" class="text-divider bg-cover pad-large">
		
			<!-- <img alt="Slider Background" class="divider-bg" src="img/chris-des-2.jpg" /> -->
			<%= image_tag("matt_ryan/chris-des-2.jpg", alt: "Slider Background", class: "divider-bg") %>
			<div class="divider-overlay"></div>
		
			<div class="row divider-content">
				<div class="medium-4 columns text-center contact-method">
					<a href="#"><div class="icon icon-geolocalizator text-white"></div></a>
					<span class="text-white"><em>Cincinnati & Columbus, Ohio</em></span>
				</div>
				
				<div class="medium-4 columns text-center contact-method">
					<a href="mailto:hello@capstory.me"><div class="icon icon-mail-open text-white"></div></a>
					<span class="text-white"><em>hello@capstory.me</em></span>
				</div>
				
				<div class="medium-4 columns text-center contact-method">
					<a href="#"><div class="icon icon-smartphone text-white"></div></a>
					<span class="text-white"><em>513-401-5572</em></span>
				</div>
			</div>
		
		<!--	<div class="row divider-content">
				<div class="medium-12 columns text-center">
					<div class="social-links offix">
						<a href="#"><h3 class="text-white">Twitter</h3></a>
						<a href="#"><h3 class="text-white">Facebook</h3></a>
						<a href="#"><h3 class="text-white">Instagram</h3></a>
						<a href="#"><h3 class="text-white">Linkedin</h3></a>
					</div>
				</div>
			</div> -->
			
			<div class="row divider-content">
				<div class="medium-12 columns text-center">
					<span class="copy-text text-white alt-h">&copy; 2014 Capstory.</span>
				</div>
			</div>
		
		</section><!--end of contact section-->
	
	</div><!--end of main container-->