  <header id="header">   
    <nav class="navbar" role="navigation">
      <div class="navbar-inner">
	      <div class="container">
          <!-- logo-->                       
					<%# <a href="#" title="Home" class="logo"><img src="img/logo.png " alt="logo"></a> %>         
					<a href="#" title="Home" class="logo"><%= image_tag "logo.png" %></a>         
          <!-- Menu -->
          <ul class="nav">
            <li><a href="#home" title="Home">Home</a></li>
            <%# <li><a href="#services" title="Services">Services</a></li> %>
            <li><a href="#about" title="About">About</a></li>
            <li><a href="#experience" title="Experience">Experience</a></li>
            <li><a href="#features" title="Features">Features</a></li>
            <%# <li><a href="#keepsakes" title="Keepsakes">Keepsakes</a></li> %>
            <%# <li><a href="#showcase" title="Showcase">Showcase</a></li> %>
            <li><a href="#contact" title="Contact">Contact</a></li> 
          </ul>
          <select class="select-menu"></select> <!-- select menu for small screens -->  
        </div>
      </div>
         
	  </nav>    
    <!-- Nav ends -->    
		<div id="home"> 
	      <!-- LayerSlider -->
        	<div id="full-slider-wrapper">
        		<div id="layerslider" style="width:1920px; height:1200px; max-width: 1920px;">
              <!-- Slide 1 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition3d: 2,7,9;">
        				<%# <img src="img/slider-main/1.jpg" class="ls-bg" alt="Slide background"> %>
								<%= image_tag "aisle_venue.jpg", alt: "Slide background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">STAND OUT <br> FROM THE COMPETITION</h1>
            
        				<%# <p class="ls-l" style="top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;" data-ls="durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"> %>
        				<%# 	Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and<br> highly evocative atmospheres, enriching them with a subtle newfound palette %>
        				<%# </p> %>

        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 1 End -->
              <!-- Slide 2 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition2d:5;">
        				<%# <img src="img/slider-main/2.jpg" class="ls-bg" alt="Slide background"> %>
								<%= image_tag "bouquet_foreground_couple_background.jpg", alt: "Slide Background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">YOUR EVENTS ARE MAGICAL,<br>MAKE THEM TRULY UNFORGETTABLE</h1>
            
        				<%# <p class="ls-l" style="top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;" data-ls="durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"> %>
        				<%# 	Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and<br> highly evocative atmospheres, enriching them with a subtle newfound palette %>
        				<%# </p> %>

        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 2 End -->
              <!-- Slide 3 -->
        			<div class="ls-slide" data-ls="slidedelay:8000;transition3d:32,34,37,38,41;">
        				<%# <img src="img/slider-main/3.jpg" class="ls-bg" alt="Slide background"> %>
								<%= image_tag "couple_lying_in_field.jpg", alt: "Slide Background", class: "ls-bg" %>
								<h1 class="ls-l hidden-xs" style="top:40%;left:50%;color:#fff;white-space: nowrap;" data-ls="durationin:2000;scalexin:1.5;scaleyin:1.5;">HELP YOUR CLIENTS CAPTURE <br> THE SPIRIT OF THEIR JOURNEY</h1>
            
        				<%# <p class="ls-l" style="top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;" data-ls="durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;"> %>
        				<%# 	Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and<br> highly evocative atmospheres, enriching them with a subtle newfound palette %>
        				<%# </p> %>

        				<p class="ls-l" style="top:60%;left:50%;" data-ls="durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;">
        					<a class="down" href="#about"><i class="fa fa-angle-down"></i></a>
        				</p>
        				
        			</div>
              <!-- Slide 3 End -->
        		</div>
        	</div>
          <!-- LayerSlider End -->    
				</div>
    

  </header>
    <div class="logos-full">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logos">
              <%# <span class="logo-cell"><a href="#"><img src="img/logos/1.png" alt="client1"></a></span> %>
							<span class="logo-cell"><%= image_tag "toss_the_bouquet.png", alt: "client1" %></span>
							<%# <span class="logo-cell"><%= image_tag "ISSE_logo.png", alt: "client1" %1></span> %>
							<span class="logo-cell"><%= image_tag "engage13.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "matt_ryan/people.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "matt_ryan/jet-fete.png", alt: "client1" %></span>
							<span class="logo-cell"><%= image_tag "matt_ryan/ruffled.png", alt: "client1" %></span>
							<%# <span class="logo-cell"><a href="#"><%= image_tag "corporate_template/logos/4.png", alt: "client1" %1></a></span> %>
							<%# <span class="logo-cell"><a href="#"><%= image_tag "corporate_template/logos/5.png", alt: "client1" %1></a></span> %>
              <%# <span class="logo-cell"><a href="#"><img src="img/logos/2.png" alt="client1"></a></span> %>
              <%# <span class="logo-cell"><a href="#"><img src="img/logos/3.png" alt="client1"></a></span> %>
              <%# <span class="logo-cell"><a href="#"><img src="img/logos/4.png" alt="client1"></a></span> %>
              <%# <span class="logo-cell"><a href="#"><img src="img/logos/5.png" alt="client1"></a></span> %>
            </div>
          </div>           
        </div>
      </div>    
    </div>
  
  <section id="about"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">ATTRACT MORE CLIENTS WITH CAPSTORY</h2>         
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
					<p class="lead">Brides face a difficult choice when choosing a venue for their wedding. Separate yourself from the competition.</p>
					
					<p class="lead">Enhance the experience customers have with <%= @vendor.name %> by offering your clients a premier service to collect and cherish every stunning moment. Guests, friends and family members contribute all of the photos they capture on their mobile devices to your clients' <%= @vendor.name %> branded webpage. Our Customer Satisfaction team assists your client throughout the entire process so they get to focus on what matters most.</p>
					<%# <p class="lead">Every event at your [club] can be truly unforgettable by offering your brides the premier service to collect and cherish every stunning moment. Guests, friends, and family contribute all of the photos they capture on mobile devices to webpage, unique to every couple and complete with [venue] branding. In addition, our customer satisfaction team assists them throughout the entire process so they can enjoy their special day.</p> %>

					<p class="lead"><b>Increase client satisfaction, brand recognition and your bottom line with Capstory, a concierge, digital photo collection service.</b></p>
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="projects-slider">
              <div class="row">
            <ul class="slides">          
							<%# Images need to be 768x500 %> 
							<%# Image Ratio needs to be 1.54:1 %> 
              <li>                        
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
                      <%# <img src="img/slider-projects/1.jpg" alt=""> %>
											<%= image_tag "reception_energy.jpg", alt: "" %>
                      <div class="slider-text">
                        <h3>Engaging Receptions</h3>
												<p>Every webpage for <%= @vendor.name %> will support a live photo stream that can be projected throughout the reception, offering a more authentic, engaging experience for guests at your venue.</p>
                        <%# <p>Every client gets a live photo stream that can be projected on a screen throughout the reception. New photos appear in real-time. Clients and guests have enjoyed this tremendously!</p> %>
                      </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
                      <%# <img src="img/slider-projects/2.jpg" alt=""> %>
											<%= image_tag "macbook_capsule.png", alt: "" %>
                      <div class="slider-text">
                        <h3>Branded Webpage</h3>
                        <p>Each and every couple receives a webpage with your branding for their photos and videos. This is a central location to collect, store and manage memories from the wedding.</p>
                      </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 slider-content">
                      <%# <img src="img/slider-projects/3.jpg" alt=""> %>
											<%= image_tag "entrance.jpg", alt: "" %>
                      <div class="slider-text">
                        <h3>Professional Customer Service</h3>
                        <p>We provide concierge-level customer service in order to guarantee that each and every client has an amazing experience. Our goal is a successful event where we fade into the background.</p>
                      </div>
                  </div>               
              </li>
 
              <%# <li> %>                        
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/4.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/4.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>
              <%#     </div> %>
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/5.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/5.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>                   
              <%#     </div> %>
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/6.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/6.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>
              <%#     </div> %>               
              <%# </li> %>

              <%# <li> %>                        
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/7.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/7.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>
              <%#     </div> %>
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/8.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/8.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>                   
              <%#     </div> %>
              <%#     <div class="col-xs-4 col-sm-4 col-md-4 slider-content"> %>
              <%#       <a href="#"> %>
              <%#         <1%# <img src="img/slider-projects/9.jpg" alt=""> %1> %>
											<%# <%= image_tag "corporate_template/slider-projects/9.jpg", alt: "" %1> %>
              <%#         <div class="slider-text"> %>
              <%#           <h3>Interier Desing Trends</h3> %>
              <%#           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p> %>
              <%#         </div> %>
              <%#       </a> %>
              <%#     </div> %>               
              <%# </li> %>          

            </ul>
            
            </div>
            
          </div>        
        </div>
      </div>
    </div>  
    <div class="spacer40"></div>
  </section> 

  <%# <section id="services"> %> 
		<%# <div id="parallax-one" class="parallax" style="background-image:url(<%= asset_path 'corporate_template/parallax/1.png' %1>);"> %>
		<%# 	<div class="parallax-text-container-1"> %>
		<%# 		<div class="parallax-text-item"> %>
		<%# 			<div class="container"> %>
		<%# 				<div class="row"> %>
		<%# 					<div class="col-xs-6 col-sm-3 col-md-3"> %>
		<%# 						<div class="counter-item"> %>
		<%# 							<i class="fa fa-cloud-upload"></i> %>
		<%# 							<div class="timer" id="item1" data-to="3991" data-speed="5000"></div> %>
		<%# 							<h5>Files uploaded</h5> %>                               
		<%# 						</div> %>
		<%# 					</div> %>  
		<%# 					<div class="col-xs-6 col-sm-3 col-md-3"> %>
		<%# 						<div class="counter-item"> %>
		<%# 							<i class="fa fa-check"></i> %>
		<%# 							<div class="timer" id="item2" data-to="6394" data-speed="5000"></div> %>
		<%# 							<h5>Projects completed</h5> %>                               
		<%# 						</div> %>
		<%# 					</div> %>
		<%# 					<div class="col-xs-6 col-sm-3 col-md-3"> %>
		<%# 						<div class="counter-item"> %>
		<%# 							<i class="fa fa-coffee"></i> %>
		<%# 							<div class="timer" id="item3" data-to="18745" data-speed="5000"></div> %>
		<%# 							<h5>Cups consumed</h5> %>                               
		<%# 						</div> %>
		<%# 					</div> %>
		<%# 					<div class="col-xs-6 col-sm-3 col-md-3"> %>
		<%# 						<div class="counter-item"> %>
		<%# 							<i class="fa fa-male"></i> %>
		<%# 							<div class="timer" id="item4" data-to="9999" data-speed="5000"></div> %>
		<%# 							<h5>Happy clients</h5> %>                               
		<%# 						</div> %>
		<%# 					</div> %>                                                  
		<%# 				</div> %>         
		<%# 			</div> %>        
		<%# 		</div> %>
		<%# 	</div> %>        
		<%# </div> %>
  <%# </section> %>


  
   <section id="experience">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">How It Works</h2>         
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail-slider">
						<%= image_tag "text_message.png" %>
          <%# <ul class="slides"> %>
						<%# <li data-thumb="<%= asset_path 'corporate_template/slider-content/1.jpg' %1>"> %>
							<%# <a href="<%= asset_path 'corporate_template/slider-content/1.jpg' %1>" class="popup-link" title="title"> %>
							<%# <img src="<%= asset_path 'corporate_template/slider-content/1.jpg' %1>" alt="" /> %>
          <%#     </a> %>
				    <%# </li> %>
						<%# <li data-thumb="<%= asset_path 'corporate_template/slider-content/2.jpg' %1>"> %>
							<%# <a href="<%= asset_path 'corporate_template/slider-content/2.jpg' %1>" class="popup-link" title="title"> %>
							<%# <img src="<%= asset_path 'corporate_template/slider-content/2.jpg' %1>" alt="" /> %>
          <%#     </a> %>
				    <%# </li> %>
						<%# <li data-thumb="<%= asset_path 'corporate_template/slider-content/3.jpg' %1>"> %>
							<%# <a href="<%= asset_path 'corporate_template/slider-content/3.jpg' %1>" class="popup-link" title="title"> %>
							<%# <img src="<%= asset_path 'corporate_template/slider-content/3.jpg' %1>" alt="" /> %>
          <%#     </a> %>
				    <%# </li> %>
						<%# <li data-thumb="<%= asset_path 'corporate_template/slider-content/4.jpg' %1>"> %>
							<%# <a href="<%= asset_path 'corporate_template/slider-content/4.jpg' %1>" class="popup-link" title="title"> %>
							<%# <img src="<%= asset_path 'corporate_template/slider-content/4.jpg' %1>" alt="" /> %>
          <%#     </a> %>
				    <%# </li> %>
						<%# <li data-thumb="<%= asset_path 'corporate_template/slider-content/5.jpg' %1>"> %>
							<%# <a href="<%= asset_path 'corporate_template/slider-content/5.jpg' %1>" class="popup-link" title="title"> %>
							<%# <img src="<%= asset_path 'corporate_template/slider-content/5.jpg' %1>" alt="" /> %>
          <%#     </a> %>
				    <%# </li> %>
				  <%# </ul> %>
          </div>
                  
        </div>
        <div class="col-md-6">
          <div class="spacer15"></div>
					<h3>Photo Collection</h3>
					<p>The Capstory uploading tools make it simple for the couple to get access to all of the photos and videos captured throughout their wedding journey.</p> 
					<p>The easiest way to add content is by text-messaging. Every personal webpage is assigned a unique address. The bride, groom, friends and family can instantly share the memories from their mobile devices by sending them in text-message.</p>
          <%# <p>Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. %>          
          <%# </p> %>
          <%# <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>          
          <%# <div class="spacer20"></div> %>
          <%# <p class="text-right"> %>
          <%#   <button type="button" class="btn btn-primary btn-lg">Presentation</button> %>
          <%# </p> %>        
        </div>
      </div>
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="spacer30"></div>
          <h3 class="big">Live Stream at Your Events</h3>
          <p>Capstory technology works instantly, allowing the photos to be live streamed from the capsule at the reception (don't worry, our professionals keep a close-eye on the photos to make sure nothing inappropriate shows up).</p>
					<p>The live stream is normally quite a hit at events. A projector connected to a computer with an internet connection, via WiFi, 4G Hotspot or LAN, allows venues to show photos appearing in the capsule as soon as they are submitted. Hence, guests get the gratification of instant feedback.</p>
          <%# <p><button type="button" class="btn btn-primary">More</button></p> %>
        </div>
        <div class="col-md-7 col-sm-7">
					<div class="thumbnail-slider">
						<ul class="slides">
							<li>
								<%= image_tag "live_stream.png" %>
							</li>
						</ul>
        <%#   <1%# <img src="img/slider-laptop/laptop.png" alt=""> %1> %>
					<%# <%= image_tag "corporate_template/slider-laptop/laptop.png" %1> %>
        <%#   <div class="laptop-slider"> %>
            
        <%#     <ul class="slides"> %> 
        <%#       <li> %>        
        <%#         <1%# <img src="img/slider-laptop/1.jpg" alt=""> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/1.jpg" %2> %1> %>
								<%# <%= image_tag "homepage/large_capsule_screen_shot.png" %1> %>
        <%#       </li> %>  
        <%#       <1%# <li> %1> %>
        <%#       <1%#   <2%# <img src="img/slider-laptop/2.jpg" alt=""> %2> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/2.jpg" %2> %1> %>
        <%#       <1%# </li> %1> %>
        <%#       <1%# <li> %1> %>
        <%#       <1%#   <2%# <img src="img/slider-laptop/3.jpg" alt=""> %2> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/3.jpg" %2> %1> %>
        <%#       <1%# </li> %1> %>   
        <%#     </ul> %>
        <%#   </div> %>
        </div>
        </div>
      </div>      
      <div class="row spacer100"></div>      
    </div>     
  </section>   



	<div id="parallax-two" class="parallax" style="background-image:url(<%= asset_path 'field_couple.jpg' %>);">
		<%# <div class="parallax-colored"> %>
			<div class="parallax-text-container-2">
				<div class="parallax-text-item">
					<%# <div class="container"> %>
					<%#   <div class="row"> %>
					<%#     <div class="col-md-12"> %>
					<%#       <h2 class="section-title-white">Parallax</h2> %> 
					<%#     </div> %>
					<%#   </div> %>
					<%#   <div class="row spacer40"></div> %>
					<%#   <div class="row"> %>
					<%#     <div class="col-md-8 col-md-offset-2"> %>          
					<%#       <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidunt mattis. In tincidunt ante nisi.</p> %>
					<%#     </div> %>
					<%#   </div> %>
											
					<%# </div> %>        
					<%# <div class="container"> %>
					<%# 	<div class="row spacer40"></div> %>
					<%# 	<div class="row"> %>
					<%# 		<div class="col-md-12 text-center"> %>
					<%# 			<h2 class="section-title-white">No App Needed</h2> %>
					<%# 		</div> %>
					<%# 	</div> %>
					<%# 	<div class="row spacer40"></div> %>
					<%# 	<div class="row"> %>
					<%# 		<div class="col-md-12"> %>
					<%# 			<p class="white text-center">We offer a truly unique array of options for submitting photos without the need to download an app. One less thing for people to worry about.</p> %> 
					<%# 		</div> %>
					<%# 	</div> %>
					<%# 	<div class="row spacer50"></div> %>
					<%# 	<div class="row"> %>
					<%# 		<div class="col-md-3 col-xs-6"> %>
					<%# 			<div class="services-1"> %>
					<%# 				<div class="services-1-icon"> %>
					<%# 					<i class="fa fa-mobile" style="color:white;"></i> %>
					<%# 				</div> %>
					<%# 				<div class="services-1-title-white">VIA TEXT MESSAGE</div> %>
					<%# 			</div> %>
					<%# 		</div> %>
					<%# 		<div class="col-md-3 col-xs-6"> %>
					<%# 			<div class="services-1"> %>
					<%# 				<div class="services-1-icon"> %>
					<%# 					<i class="fa fa-envelope" style="color:white;"></i> %>
					<%# 				</div> %>
					<%# 				<div class="services-1-title-white">VIA EMAIL</div> %>
					<%# 			</div> %>
					<%# 		</div> %>
					<%# 		<div class="col-md-3 col-xs-6"> %>
					<%# 			<div class="services-1"> %>
					<%# 				<div class="services-1-icon"> %>
					<%# 					<i class="fa fa-laptop" style="color:white;"></i> %>
					<%# 				</div> %>
					<%# 				<div class="services-1-title-white">VIA DIRECT UPLOAD</div> %>
					<%# 			</div> %>
					<%# 		</div> %>
					<%# 		<div class="col-md-3 col-xs-6"> %>
					<%# 			<div class="services-1"> %>
					<%# 				<div class="services-1-icon"> %>
					<%# 					<i class="fa fa-user" style="color:white;"></i> %>
					<%# 				</div> %>
					<%# 					<div class="services-1-title-white">VIA CUSTOMER SERVICE</div> %>
					<%# 			</div> %>
					<%# 		</div> %>                
					<%# 	</div> %>
						<div class="row spacer70"></div>
						<%# <div class="row"><div class="col-md-12"><hr class="small-line"></div></div> %>
						<%# <div class="row spacer100"></div> %>
						
						<%# <div class="row"> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-female"></i> %>
						<%#         <h4>HTML / CSS</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>
										
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-bell-o"></i> %>
						<%#         <h4>MODERN GRAPHIC DESIGN</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>              
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-gamepad"></i> %>
						<%#         <h4>SERVER OPTIMALIZATION</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>              
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>                       
						<%# </div> %>
						<%# <div class="row"> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-cloud-upload"></i> %>
						<%#         <h4>CLOUD HOSTING</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>              
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-exchange"></i> %>
						<%#         <h4>RESPONSIVE LAYOUT</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>              
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>
						<%#   <div class="col-md-4 col-xs-12"> %>
						<%#     <div class="services-2"> %>
						<%#       <div class="services-2-icon"> %>
						<%#         <i class="fa fa-bolt"></i> %>
						<%#         <h4>SOCIAL MARKETING</h4> %>
						<%#       </div> %>
						<%#       <div class="services-2-text"> %>              
						<%#         <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.</p> %>
						<%#       </div> %>
						<%#     </div> %>
						<%#   </div> %>                       
						<%# </div> %>
						<%# <div class="row spacer120"></div> %>      
					<%# </div> %> 
				</div>
      </div>
    </div>        
  </div>

  <section id="features"> 
  
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">A Webpage for Every Bride</h2>         
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="spacer30"></div>
          <h3 class="big">Photos and Videos in One Location</h3>
					<p>Everyone's photos, videos, and stories, in one shared location online. Your 'photo booth in the cloud', the personal, <%= @vendor.name %> branded webpage created for every client is the storage capsule for every memory collected, from every candid perspective. In these moments, one lens is not enough. Capture the entire crowds authentic experience, in one shared location.</p>
          <%# <p><button type="button" class="btn btn-primary">More</button></p> %>
        </div>
        <div class="col-md-7 col-sm-7">
        <div class="laptop">
          <%# <img src="img/slider-laptop/laptop.png" alt=""> %>
					<%= image_tag "corporate_template/slider-laptop/laptop.png" %>
          <div class="laptop-slider">
            
            <ul class="slides"> 
              <li>        
                <%# <img src="img/slider-laptop/1.jpg" alt=""> %>
								<%# <%= image_tag "corporate_template/slider-laptop/1.jpg" %1> %>
								<%= image_tag "homepage/large_capsule_screen_shot.png" %>
              </li>  
              <%# <li> %>
              <%#   <1%# <img src="img/slider-laptop/2.jpg" alt=""> %1> %>
								<%# <%= image_tag "corporate_template/slider-laptop/2.jpg" %1> %>
              <%# </li> %>
              <%# <li> %>
              <%#   <1%# <img src="img/slider-laptop/3.jpg" alt=""> %1> %>
								<%# <%= image_tag "corporate_template/slider-laptop/3.jpg" %1> %>
              <%# </li> %>   
            </ul>
          </div>
        </div>
        </div>
      </div>      
      <div class="row spacer40"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="clients">            
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/1.jpg" alt="client1"></a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/1.jpg", alt: "client1" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/2.jpg", alt: "client2" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/3.jpg", alt: "client3" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/4.jpg", alt: "client4" %1> </a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/2.jpg" alt="client1"></a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/3.jpg" alt="client1"></a></div> %>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "tablet 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "laptop 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "mobile 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "desktop 4x" %></div>
            </div>  
          </div>
        </div>
        <div class="col-md-6">
          <h3>Accessible Everywhere</h3>
					<p>The capsule can be accessed anywhere, on any device with an internet connection. With mobile and tablet friendly sites, view the capsule from phone, tablet, and computer all at the same time. The capsule is constantly live updating as new media is submitted, so even guests that weren't able to make it to the wedding can follow along in the special moment!</p>
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <h3>Professional Help</h3>
					<p>Capstory's team of professionals handles the (oftentimes) cumbersome process of reaching out to guests after an event, prompting them to share photos and videos they collected. With automated emails to the guest list and reminder text-messages, we ensure no moment is lost.</p>
      
        </div>
        <%# <div class="col-md-4"> %>
        <%#   <div class="row"> %>
        <%#     <div class="clients"> %>            
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/1.jpg" alt="client1"></a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/1.jpg", alt: "client1" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/2.jpg", alt: "client2" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/3.jpg", alt: "client3" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/4.jpg", alt: "client4" %1> </a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/2.jpg" alt="client1"></a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/3.jpg" alt="client1"></a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/4.jpg" alt="client1"></a></div> %>
            <%# </div> %>  
          <%# </div> %>
        <%# </div> %>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-12">
          <h3>Active, Remote Moderation During a Live Event</h3>
					<p>During the reception, our professionals moderate the photo stream, based on client discretion, to ensure nothing inappropriate shows up on the big screen! Rest assured your brand image is protected, even when the groomsmen have too much fun with the open bar... Our team handles this process remotely as to not introduce any additional strangers or clutter to the reception environment.</p>
      
        </div>
      </div>
      <div class="row spacer80"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="clients">            
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/1.jpg" alt="client1"></a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/1.jpg", alt: "client1" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/2.jpg", alt: "client2" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/3.jpg", alt: "client3" %1> </a></div> %>
							<%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><%= image_tag "corporate_template/clients/4.jpg", alt: "client4" %1> </a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/2.jpg" alt="client1"></a></div> %>
              <%# <div class="col-xs-12 col-sm-3 col-md-3"><a href="#"><img src="img/clients/3.jpg" alt="client1"></a></div> %>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "twitter 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "instagram 4x" %></div>
							<div class="col-xs-12 col-sm-3 col-md-3"><%= fa_icon "facebook 4x" %></div>
            </div>  
          </div>
        </div>
        <div class="col-md-6">
          <h3>Social Media Integration</h3>
					<p>If a client or guests decide to use a Twitter or Instagram hashtag for any part of the event, let us know and we'll be sure to automatically integrate these memories into the website too.</p>
        </div>
      </div>
      <div class="row spacer100"></div>
      <%# <div class="row"> %>
      <%#   <div class="col-md-12"> %>
      <%#     <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna.</p> %>         
      <%#   </div> %>
      <%# </div> %>
      <%# <div class="row spacer40"></div> %>
      <%# <div class="row"> %>
      <%#   <div class="col-xs-12 col-sm-6 col-md-3"> %>
      <%#     <div class="team"> %>
      <%#       <div class="team-img"> %>
      <%#         <1%# <img src="img/team/1.jpg" alt="team-1"> %1> %>
							<%# <%= image_tag "corporate_template/team/1.jpg", alt: "team-1" %1> %>
      <%#         <a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a> %>
      <%#         <div class="overlay"></div> %>
      <%#       </div> %>            
      <%#       <div class="team-socials"> %>
      <%#         <a href="#"><i class="fa fa-facebook"></i></a> %>
      <%#         <a href="#"><i class="fa fa-google-plus"></i></a> %>
      <%#         <a href="#"><i class="fa fa-twitter"></i></a> %>
      <%#       </div> %>
      <%#       <div class="team-name"><h3>Eliot Detaroit</h3></div> %>
      <%#       <div class="team-position">CEO</div> %>
      <%#     </div> %>         
      <%#   </div> %>
      <%#   <div class="col-xs-12 col-sm-6 col-md-3"> %>
      <%#     <div class="team"> %>
      <%#       <div class="team-img"> %>
      <%#         <1%# <img src="img/team/2.jpg" alt="team-2"> %1> %>
							<%# <%= image_tag "corporate_template/team/2.jpg", alt: "team-1" %1> %>
      <%#         <a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a> %>
      <%#         <div class="overlay"></div> %>              
      <%#       </div> %>
      <%#       <div class="team-socials"> %>
      <%#         <a href="#"><i class="fa fa-facebook"></i></a> %>
      <%#         <a href="#"><i class="fa fa-google-plus"></i></a> %>
      <%#         <a href="#"><i class="fa fa-twitter"></i></a> %>
      <%#       </div> %>
      <%#       <div class="team-name"><h3>Lili Sammson</h3></div> %>
      <%#       <div class="team-position">Marketing</div> %>
      <%#     </div> %>         
      <%#   </div> %>
      <%#   <div class="col-xs-12 col-sm-6 col-md-3"> %>
      <%#     <div class="team"> %>
      <%#       <div class="team-img"> %>
      <%#         <1%# <img src="img/team/3.jpg" alt="team-3"> %1> %>
							<%# <%= image_tag "corporate_template/team/3.jpg", alt: "team-1" %1> %>
      <%#         <a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a> %>
      <%#         <div class="overlay"></div> %>              
      <%#       </div> %>
      <%#       <div class="team-socials"> %>
      <%#         <a href="#"><i class="fa fa-facebook"></i></a> %>
      <%#         <a href="#"><i class="fa fa-google-plus"></i></a> %>
      <%#         <a href="#"><i class="fa fa-twitter"></i></a> %>
      <%#       </div> %>
      <%#       <div class="team-name"><h3>Erika Diow</h3></div> %>
      <%#       <div class="team-position">Designer / Artist</div> %>
      <%#     </div> %>         
      <%#   </div> %>
      <%#   <div class="col-xs-12 col-sm-6 col-md-3"> %>
      <%#     <div class="team"> %>
      <%#       <div class="team-img"> %>
      <%#         <1%# <img src="img/team/4.jpg" alt="team-4"> %1> %>
							<%# <%= image_tag "corporate_template/team/4.jpg", alt: "team-1" %1> %>
      <%#         <a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a> %>
      <%#         <div class="overlay"></div> %>              
      <%#       </div> %>
      <%#       <div class="team-socials"> %>
      <%#         <a href="#"><i class="fa fa-facebook"></i></a> %>
      <%#         <a href="#"><i class="fa fa-google-plus"></i></a> %>
      <%#         <a href="#"><i class="fa fa-twitter"></i></a> %>
      <%#       </div> %>
      <%#       <div class="team-name"><h3>Martin Kammeroon</h3></div> %>
      <%#       <div class="team-position">Develope</div> %>
      <%#     </div> %>         
      <%#   </div> %>                        
      <%# </div> %>
      <%# <div class="row spacer40"></div> %>      
    </div>
   
    
		<%# <div id="parallax-three" class="parallax parallax-2" style="background-image:url(<%= asset_path 'corporate_template/parallax/3.png' %1>);"> %>  
      <%# <div class="parallax-text-container-1"> %>
        <%# <div class="container"> %>
          <%# <div class="row"> %>
            <%# <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-0"> %>              
              <%# <h2 class="section-title-gray">Your content</h2> %>
              <%# <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuerede dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidu mattis. In tincidunte fele the arent nisi.</p> %>
            <%# </div> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %> 
	<div id="parallax-three" class="parallax" style="background-image:url(<%= asset_path 'des_on_chris_lap.jpg' %>);">
			<div class="parallax-text-container-1">
				<div class="parallax-text-item">
					<%# <div class="container"> %>
					<%#   <div class="row"> %>
					<%#     <div class="col-md-12"> %>
					<%#       <h2 class="section-title-white">Parallax</h2> %> 
					<%#     </div> %>
					<%#   </div> %>
					<%#   <div class="row spacer40"></div> %>
					<%#   <div class="row"> %>
					<%#     <div class="col-md-8 col-md-offset-2"> %>          
					<%#       <p class="lead">Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidunt mattis. In tincidunt ante nisi.</p> %>
					<%#     </div> %>
					<%#   </div> %>
											
					<%# </div> %>        
	<div class="row spacer40"></div>  
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="section-title-white">"My experience with the Capstory team was great!"</h2>
							</div>
						</div>
						<div class="row spacer40"></div>
						<div class="row">
							<div class="col-md-12">
								<p class="white text-center" style="font-size:20px;">Desiree Hartsock, ABC's <em>The Bachelorette</em></p> 
							</div>
						</div>
						<div class="row spacer50"></div>
						<%# <div class="row"> %>
						<%# 	<div class="col-md-3 col-xs-6"> %>
						<%# 		<div class="services-1"> %>
						<%# 			<div class="services-1-icon"> %>
						<%# 				<i class="fa fa-mobile" style="color:white;"></i> %>
						<%# 			</div> %>
						<%# 			<div class="services-1-title-white">VIA TEXT MESSAGE</div> %>
						<%# 		</div> %>
						<%# 	</div> %>
						<%# 	<div class="col-md-3 col-xs-6"> %>
						<%# 		<div class="services-1"> %>
						<%# 			<div class="services-1-icon"> %>
						<%# 				<i class="fa fa-envelope" style="color:white;"></i> %>
						<%# 			</div> %>
						<%# 			<div class="services-1-title-white">VIA EMAIL</div> %>
						<%# 		</div> %>
						<%# 	</div> %>
						<%# 	<div class="col-md-3 col-xs-6"> %>
						<%# 		<div class="services-1"> %>
						<%# 			<div class="services-1-icon"> %>
						<%# 				<i class="fa fa-laptop" style="color:white;"></i> %>
						<%# 			</div> %>
						<%# 			<div class="services-1-title-white">VIA DIRECT UPLOAD</div> %>
						<%# 		</div> %>
						<%# 	</div> %>
						<%# 	<div class="col-md-3 col-xs-6"> %>
						<%# 		<div class="services-1"> %>
						<%# 			<div class="services-1-icon"> %>
						<%# 				<i class="fa fa-user" style="color:white;"></i> %>
						<%# 			</div> %>
						<%# 				<div class="services-1-title-white">VIA CUSTOMER SERVICE</div> %>
						<%# 		</div> %>
						<%# 	</div> %>                
						<%# </div> %>
						<%# <div class="row spacer70"></div> %>
					</div> 
				</div>
    </div>        
  </div>
  </section>
  
  <%# <section id="keepsakes"> %>
  <%#   <div class="container"> %>
  <%#     <div class="row"> %>
  <%#       <div class="col-md-12 text-center"> %>
  <%#         <h2 class="section-title">AMAZING KEEPSAKES</h2> %>         
  <%#       </div> %>
  <%#     </div> %>
  <%#     <div class="row spacer40"></div> %>
  <%#     <div class="row"> %>
  <%#       <div class="col-md-8 col-md-offset-2"> %>
					<%# <p class="lead">When the journey ends, the sharing begins!</p> %>
					<%# <p class="lead">With easy, 24/7 access to your digital album, share your capsule anytime, anywhere, including simple export options for the client to share albums on external social media sites.</p> %>
					<%# <p class="lead">The Capstory team assembles beautiful keepsake photo books showcasing the best photos from the capsule. Our team handles the creation - all the client has to do is approve a virtual copy before we send to print! Incorporate [venue] branding on these books which will be shared for years after the event is over.</p> %>
					<%# <p class="lead">With the additional option of purchasing a video slideshow with the capsule content, [venue] has yet another opportunity to incorporate their branding into the post-production materials.</p> %>
  <%#       </div> %>
  <%#     </div> %>
			<%# <div class="row spacer40"></div> %>
  <%#     <div class="row"> %>
  <%#       <div class="col-xs-6 col-sm-3 col-md-3"> %>
  <%#         <div class="project-boxed"> %>
  <%#           <div class="media-content"> %>
  <%#             <1%# <img src="img/project-boxed/1.jpg" alt=""> %1> %>
							<%# <%= image_tag "homepage/demo_card_front.png", height: "157px", width: "220px" %1> %>
  <%#           </div> %>
  <%#           <div class="media-text"> %>
  <%#             <a href=""><h4>Bulk Download</h4></a> %>
							<%# <h5>Clients can easily download all of the photos in their capsule. If they need any assistance, we go the extra mile to ensure they get everything they want.</h5> %>
  <%#           </div> %>            
  <%#         </div> %>
  <%#       </div> %>
        
  <%#       <div class="col-xs-6 col-sm-3 col-md-3"> %>
  <%#         <div class="project-boxed"> %>
  <%#           <div class="media-content"> %>
  <%#             <1%# <img src="img/project-boxed/2.jpg" alt=""> %1> %>
							<%# <%= image_tag "homepage/capsule_screen_shot.png", height: "157px", width: "220px" %1> %>
  <%#           </div> %>
  <%#           <div class="media-text"> %>
  <%#             <a href=""><h4>No Restrictions</h4></a> %>
  <%#               <h5>Clients are not limited to a certain number of downloads or access to their photos. Everything belongs to the client, ready to share with friends and family.</h5> %>
  <%#           </div> %>            
  <%#         </div> %>
  <%#       </div> %>

  <%#       <div class="col-xs-6 col-sm-3 col-md-3"> %>
  <%#         <div class="project-boxed"> %>
  <%#           <div class="media-content"> %>
  <%#             <1%# <img src="img/project-boxed/3.jpg" alt=""> %1> %>
							<%# <%= image_tag "homepage/photobook_sample.jpg", height: "157px", width: "220px" %1> %>
  <%#           </div> %>
  <%#           <div class="media-text"> %>
  <%#             <a href=""><h4>Photo Book</h4></a> %>
  <%#               <h5>Every client receives a high-quality photo album with a selection of photos from their wedding journey. Each and every album is organized by our team of professionals.</h5> %>
  <%#           </div> %>            
  <%#         </div> %>
  <%#       </div> %>
        
  <%#       <div class="col-xs-6 col-sm-3 col-md-3"> %>
  <%#         <div class="project-boxed"> %>
  <%#           <div class="media-content"> %>
  <%#             <1%# <img src="img/project-boxed/4.jpg" alt=""> %1> %>
							<%# <%= image_tag "photo_editing.png", height: "157px", width: "220px" %1> %>
  <%#           </div> %>
  <%#           <div class="media-text"> %>
  <%#             <a href=""><h4>Photo Editing</h4></a> %>
							<%# <h5>All of the photos in the capsule are treated to professional photo editing. Careful attention is paid to each image in order to make sure every photo looks the best it can. </h5> %>
  <%#           </div> %>            
  <%#         </div> %>
  <%#       </div> %>        
                
  <%#     </div> %>
  <%#     <div class="row spacer60"></div> %>
  <%#     <div class="row"> %>
  <%#       <div class="col-md-12"> %> 
					<%# <div id="parallax-four" class="parallax" style="background-image:url(<%= asset_path 'couple_in_frame.jpg' %1>);"> %>
					<%# <div class="parallax-colored"> %>
  <%#           <div class="parallax-text-container-4"> %>
							<%# <div class="parallax-text-item" style="color:#fff;">Give your clients an amazing experience while generating revenue</div> %>
  <%#           </div> %>
					<%# </div> %> 
				<%# </div> %>
  <%#       </div> %>        
  <%#     </div> %>
  <%#     <div class="row spacer100"></div> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#     <form role="form"> %1> %>
  <%#     <1%#     <div class="col-xs-12"> %1> %>
            
  <%#     <1%#       <div class="row"> %1> %>            
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="name">name</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="name" placeholder="Enter Name"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="city">city</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="city" placeholder="Enter City"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>
            
  <%#     <1%#       <div class="row"> %1> %>
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="email">email</label> %1> %>
  <%#     <1%#           <input type="email" class="form-control" id="email" placeholder="Enter Email"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="state">state</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="state" placeholder="Enter State"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>

  <%#     <1%#       <div class="row"> %1> %>            
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="company">company</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="company" placeholder="Enter Company"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="zip">zip code</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="zip" placeholder="Enter Zip"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>            

  <%#     <1%#       <div class="row"> %1> %>            
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="work">work address</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="work" placeholder="Enter Address"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#         <div class="form-group col-xs-6"> %1> %>
  <%#     <1%#           <label for="country">Country</label> %1> %>
  <%#     <1%#           <input type="text" class="form-control" id="country" placeholder="Enter Country"> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %> 

  <%#     <1%#       <div class="row"> %1> %>            
  <%#     <1%#         <div class="form-group col-xs-12"> %1> %>
  <%#     <1%#           <label for="message">message</label> %1> %>
  <%#     <1%#           <textarea  class="form-control" id="message" placeholder="Enter Message"></textarea> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %> 
  <%#     <1%#       <div class="row spacer30"></div> %1> %>
  <%#     <1%#       <div class="row"> %1> %>
  <%#     <1%#         <div class="col-md-8 col-md-offset-2"> %1> %>
  <%#     <1%#           <p class="text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren.</p> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="row spacer10"></div> %1> %>
  <%#     <1%#       <div class="row"> %1> %>            
  <%#     <1%#         <div class="col-xs-12 text-center"> %1> %>
  <%#     <1%#           <button type="submit" class="btn btn-default">Submit</button> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#     </div> %1> %>  
  <%#     <1%#     </form> %1> %>        
  <%#     <1%# </div> %1> %>       
  <%#   <1%# </div> %1> %>
  <%# <1%# </section> %1> %>    
  
  <%# <1%# <section id="portfolio"> %1> %>
  <%#   <1%# <div class="container"> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-sm-12 col-md-12 text-left"> %1> %>
  <%#     <1%#     <h2 class="section-title-portfolio">MODERN PORTFOLIO</h2> %1> %>         
 
  <%#     <1%#   <div class="portfolio-share-block"> %1> %>
  <%#     <1%#     <a href="#" class="portfolio-email" data-placement="top" data-toggle="tooltip"  title="Send"><i class="fa fa-envelope-o"></i></a> %1> %>
  <%#     <1%#     <a href="#" class="portfolio-share-fb" data-placement="top" data-toggle="tooltip"  title="Share"><i class="fa fa-facebook"></i></a> %1> %>
  <%#     <1%#     <a href="#" class="portfolio-like" data-placement="top" data-toggle="tooltip"  title="Like"><i class="fa fa-heart-o"></i></a> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%# </div> %1> %>    
  <%#   <1%# </div> %1> %>
  <%#   <1%# <div class="portfolio-fullwidth"> %1> %>
  <%#     <1%# <div class="container"> %1> %>
  <%#     <1%#   <div class="row"> %1> %>
  <%#     <1%#     <div class="col-xs-12"> %1> %>
  <%#   		    <1%# <ul id="portfolio-filter"> %1> %>
  <%#     <1%#         <li class="act"><a href="#" class="filter" data-filter="*">All</a></li> %1> %>
  <%#   			    <1%# <li><a href="#" class="filter" data-filter=".photography">Photography</a></li> %1> %>
  <%#   			    <1%# <li><a href="#" class="filter" data-filter=".webdesign">Web Design</a></li> %1> %>              
  <%#     <1%#         <li><a href="#" class="filter" data-filter=".html">HTML/CSS</a></li> %1> %>
  <%#   		    <1%# </ul> %1> %>                    
  <%#     <1%#     </div> %1> %> 
  <%#     <1%#   </div> %1> %>
        
  <%#     <1%#   <div class="row"> %1> %>
  <%#     <1%#     <div class="col-md-12"> %1> %>
		      <%# <1%# <section id="portfolio-items"> %1> %>            
  <%#     <1%#       <ul class="portfolio row"> %1> %>       
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,webdesign"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="ajax-popup-link" href="project-1.html" ><img src="img/portfolio/1.jpg" alt=""></a> %2> %1> %>     
										<%# <1%# <a class="ajax-popup-link" href="project-1.html" ><%= image_tag "corporate_template/portfolio/1.jpg", alt: "" %2></a> %1> %>     
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>

  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="webdesign,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="ajax-popup-link" href="project-1.html" ><img src="img/portfolio/2.jpg" alt=""></a> %2> %1> %>         
										<%# <1%# <a class="ajax-popup-link" href="project-1.html" ><%= image_tag "corporate_template/portfolio/2.jpg", alt: "" %2></a> %1> %>     
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>
              
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="ajax-popup-link" href="project-2.html" ><img src="img/portfolio/3.jpg" alt=""></a> %2> %1> %>       
										<%# <1%# <a class="ajax-popup-link" href="project-2.html" ><%= image_tag "corporate_template/portfolio/3.jpg", alt: "" %2></a> %1> %>     
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,webdesign"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file gallery"> %1> %>     
  <%#     <1%#               <2%# <a href="img/portfolio/1.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/1.jpg" alt=""></a> %2> %1> %>
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/1.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/1.jpg" %2></a> %1> %>
  <%#     <1%#               <a href="<%= asset_path 'corporate_template/portfolio/2.jpg' %2>" title="image description" class="hidden"></a> %1> %>
  <%#     <1%#               <a href="<%= asset_path 'corporate_template/portfolio/3.jpg' %2>" title="image description" class="hidden"></a> %1> %>         
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>                            

  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,webdesign"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/5.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/5.jpg" alt=""></a> %2> %1> %>        
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/5.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/5.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>

  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="webdesign,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/6.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/6.jpg" alt=""></a> %2> %1> %>       
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/6.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/6.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>
              
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/7.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/7.jpg" alt=""></a> %2> %1> %>     
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/7.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/7.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="html,webdesign"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/8.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/8.jpg" alt=""></a> %2> %1> %>     
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/8.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/8.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>  
              
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,webdesign"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/9.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/9.jpg" alt=""></a> %2> %1> %>      
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/9.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/9.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>

  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="webdesign,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/10.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/10.jpg" alt=""></a> %2> %1> %>       
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/10.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/10.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>
              
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="photography,html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/11.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/11.jpg" alt=""></a> %2> %1> %>    
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/11.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/11.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>             
  <%#     <1%#         <li> %1> %> 
  <%#     <1%#         <article class="col-md-3 col-sm-4 col-xs-6 project" data-tags="html"> %1> %>
  <%#     <1%#           <div class="media-container"> %1> %> 
  <%#     <1%#             <div class="media-file"> %1> %>     
  <%#     <1%#               <2%# <a class="popup-link" href="img/portfolio/12.jpg" title="When Gregor Samsa woke from troubled dreams."><img src="img/portfolio/12.jpg" alt=""></a> %2> %1> %>     
										<%# <1%# <a href="<%= asset_path 'corporate_template/portfolio/12.jpg' %2>" title="When Samsa woke"><%= image_tag "corporate_template/portfolio/12.jpg" %2></a> %1> %>
  <%#     <1%#             </div> %1> %>
  <%#     <1%#           </div> %1> %>  
  <%#     <1%#         </article> %1> %>
  <%#     <1%#         </li> %1> %>  
  <%#     <1%#       </ul> %1> %>
            
  <%#     <1%#     </section> %1> %>
  <%#     <1%#     </div> %1> %> 
  <%#     <1%#   </div> %1> %>
                  
  <%#     <1%#   <div class="spacer100"></div> %1> %>
  <%#     <1%#   <div class="row"> %1> %>
  <%#     <1%#     <div class="col-md-12"> %1> %>
  <%#     <1%#        <iframe class="video-content" src="http://player.vimeo.com/video/86891580" ></iframe> %1> %>
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   <div class="spacer60"></div> %1> %>      
  <%#     <1%# </div> %1> %>
  <%#   <1%# </div> %1> %>      

    
		<%# <1%# <div id="parallax-five" class="parallax" style="background-image:url(<%= asset_path 'corporate_template/parallax/5.png' %2>);"> %1> %>
  <%#   <1%# <div class="parallax-colored"> %1> %>
  <%#   <1%# <div class="parallax-text-container-5"> %1> %>
  <%#     <1%# <div class="parallax-text-item"> %1> %>
  <%#     <1%#   <div class="container"> %1> %>
  <%#     <1%#     <div class="row"> %1> %>
  <%#     <1%#       <div class="col-md-12"> %1> %>
  <%#     <1%#           <div class="testimonal-slider"> %1> %>
           
  <%#     <1%#       <ul class="slides"> %1> %>          
            
  <%#     <1%#         <li> %1> %>                        
  <%#     <1%#          <div class="testimonal"> %1> %>
  <%#     <1%#           <h3 class="white-text">OVNI SAVE MY BUSINESS :)</h3> %1> %>
  <%#     <1%#           <p class="white-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p> %1> %>
  <%#     <1%#           <h5 class="white-text">WINNIE DOREN</h5> %1> %>
  <%#     <1%#          </div> %1> %>
  <%#     <1%#         </li> %1> %>
 
  <%#     <1%#         <li> %1> %>                        
  <%#     <1%#          <div class="testimonal"> %1> %>
  <%#     <1%#           <h3 class="white-text">THANK YOU FOR AWESOME DESIGN</h3> %1> %>
  <%#     <1%#           <p class="white-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> %1> %>
  <%#     <1%#           <h5 class="white-text">DONAL MACINTOSH</h5> %1> %>
  <%#     <1%#          </div> %1> %>
  <%#     <1%#         </li> %1> %>
              
  <%#     <1%#         <li> %1> %>                        
  <%#     <1%#          <div class="testimonal"> %1> %>
  <%#     <1%#           <h3 class="white-text">HAPPY CLIENTS SAY</h3> %1> %>
  <%#     <1%#           <p class="white-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p> %1> %>
  <%#     <1%#           <h5 class="white-text">ANETA SHMITMAYER</h5> %1> %>
  <%#     <1%#          </div> %1> %>
  <%#     <1%#         </li> %1> %>                      
             
  <%#     <1%#       </ul> %1> %>
  <%#     <1%#      </div> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       </div> %1> %>

                    
  <%#     <1%#   </div> %1> %>        
  <%#     <1%# </div> %1> %>
  <%#   <1%# </div> %1> %>        
  <%# <1%# </div> %1> %>
  <%# <1%# </div> %1> %>    
  <%# <1%# </section> %1> %>
  
  <%# <1%# <section id="showcase"> %1> %>
  <%#   <1%# <div class="container"> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-md-12 text-center"> %1> %>
  <%#     <1%#     <h2 class="section-title">showcase</h2> %1> %>         
  <%#     <1%#   </div> %1> %>
  <%#     <1%# </div> %1> %>
  <%#     <1%# <div class="row spacer40"></div> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-md-6 col-sm-6"> %1> %>
  <%#     <1%#     <h3 class="big">Specialization</h3> %1> %>
  <%#     <1%#     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> %1> %>
  <%#     <1%#     <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> %1> %>
  <%#     <1%#     <p><button type="button" class="btn btn-primary btn-lg">Presentation</button></p> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   <div class="col-md-6 col-sm-6 skill-shortcode"> %1> %>
  <%#     <1%#     <h3 class="big">Skills</h3> %1> %>
  <%#     <1%#     <div class="skill"> %1> %>
  <%#     <1%#       <p>Web Design</p> %1> %>          
  <%#     <1%#       <div class="progress"> %1> %>         
  <%#     <1%#         <div class="progress-bar" role="progressbar"  data-percentage="60"> %1> %>
  <%#     <1%#           <span class="progress-bar-span" >60%</span> %1> %>
  <%#     <1%#           <span class="sr-only">60% Complete</span> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>  
  <%#     <1%#     </div> %1> %>
  <%#     <1%#     <div class="skill"> %1> %>
  <%#     <1%#       <p>Wordpress</p> %1> %>          
  <%#     <1%#       <div class="progress"> %1> %>          
  <%#     <1%#         <div class="progress-bar" role="progressbar"  data-percentage="80"> %1> %>
  <%#     <1%#           <span class="progress-bar-span" >80%</span> %1> %>
  <%#     <1%#           <span class="sr-only">60% Complete</span> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>  
  <%#     <1%#     </div> %1> %>
  <%#     <1%#     <div class="skill"> %1> %>
  <%#     <1%#       <p>CSS 3</p> %1> %>          
  <%#     <1%#       <div class="progress"> %1> %>          
  <%#     <1%#         <div class="progress-bar" role="progressbar"  data-percentage="90"> %1> %>
  <%#     <1%#           <span class="progress-bar-span" >90%</span> %1> %>
  <%#     <1%#           <span class="sr-only">60% Complete</span> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>  
  <%#     <1%#     </div> %1> %>
  <%#     <1%#     <div class="skill"> %1> %>
  <%#     <1%#       <p>HTML 5</p> %1> %>          
  <%#     <1%#       <div class="progress"> %1> %>          
  <%#     <1%#         <div class="progress-bar" role="progressbar"  data-percentage="100"> %1> %>
  <%#     <1%#           <span class="progress-bar-span" >100%</span> %1> %>
  <%#     <1%#           <span class="sr-only">60% Complete</span> %1> %>
  <%#     <1%#         </div> %1> %>
  <%#     <1%#       </div> %1> %>  
  <%#     <1%#     </div> %1> %>                              
  <%#     <1%#   </div> %1> %>
  <%#     <1%# </div> %1> %>
  <%#     <1%# <div class="row spacer60"></div> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-md-12"> %1> %>
  <%#     <1%#     <h3 class="big">Boxed Project Style</h3> %1> %>        
  <%#     <1%#   </div> %1> %>
  <%#     <1%# </div> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-xs-6 col-sm-3 col-md-3"> %1> %>
  <%#     <1%#     <div class="project-boxed"> %1> %>
  <%#     <1%#       <div class="media-content"> %1> %>
  <%#     <1%#         <2%# <img src="img/project-boxed/1.jpg" alt=""> %2> %1> %>
							<%# <1%# <%= image_tag "corporate_template/project-boxed/1.jpg" %2> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="media-text"> %1> %>
  <%#     <1%#         <a href=""><h4>boxed project style</h4></a> %1> %>
  <%#     <1%#           <h5>Photography</h5> %1> %>
  <%#     <1%#       </div> %1> %>            
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>
        
  <%#     <1%#   <div class="col-xs-6 col-sm-3 col-md-3"> %1> %>
  <%#     <1%#     <div class="project-boxed"> %1> %>
  <%#     <1%#       <div class="media-content"> %1> %>
  <%#     <1%#         <2%# <img src="img/project-boxed/2.jpg" alt=""> %2> %1> %>
							<%# <1%# <%= image_tag "corporate_template/project-boxed/2.jpg" %2> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="media-text"> %1> %>
  <%#     <1%#         <a href=""><h4>boxed project style</h4></a> %1> %>
  <%#     <1%#           <h5>Photography</h5> %1> %>
  <%#     <1%#       </div> %1> %>            
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>

  <%#     <1%#   <div class="col-xs-6 col-sm-3 col-md-3"> %1> %>
  <%#     <1%#     <div class="project-boxed"> %1> %>
  <%#     <1%#       <div class="media-content"> %1> %>
  <%#     <1%#         <2%# <img src="img/project-boxed/3.jpg" alt=""> %2> %1> %>
							<%# <1%# <%= image_tag "corporate_template/project-boxed/3.jpg" %2> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="media-text"> %1> %>
  <%#     <1%#         <a href=""><h4>boxed project style</h4></a> %1> %>
  <%#     <1%#           <h5>Photography</h5> %1> %>
  <%#     <1%#       </div> %1> %>            
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>
        
  <%#     <1%#   <div class="col-xs-6 col-sm-3 col-md-3"> %1> %>
  <%#     <1%#     <div class="project-boxed"> %1> %>
  <%#     <1%#       <div class="media-content"> %1> %>
  <%#     <1%#         <2%# <img src="img/project-boxed/4.jpg" alt=""> %2> %1> %>
							<%# <1%# <%= image_tag "corporate_template/project-boxed/4.jpg" %2> %1> %>
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="media-text"> %1> %>
  <%#     <1%#         <a href=""><h4>boxed project style</h4></a> %1> %>
  <%#     <1%#           <h5>Photography</h5> %1> %>
  <%#     <1%#       </div> %1> %>            
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>        
                
  <%#     <1%# </div> %1> %>
      
  <%#     <1%# <div class="row spacer80"></div> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-md-5 col-sm-5"> %1> %>
  <%#     <1%#     <div class="spacer30"></div> %1> %>
  <%#     <1%#     <h3 class="big">New Application</h3> %1> %>
  <%#     <1%#     <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named. Separated they live in Bookmarksgrove right at the coast of the Semantics. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named. Separated they live in Bookmarksgrove right at the coast of the Semantics..</p> %1> %>
  <%#     <1%#     <p><button type="button" class="btn btn-primary">More</button></p> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   <div class="col-md-7 col-sm-7"> %1> %>
  <%#     <1%#   <div class="laptop"> %1> %>
  <%#     <1%#     <2%# <img src="img/slider-laptop/laptop.png" alt=""> %2> %1> %>
					<%# <1%# <%= image_tag "corporate_template/slider-laptop/laptop.png" %2> %1> %>
  <%#     <1%#     <div class="laptop-slider"> %1> %>
            
  <%#     <1%#       <ul class="slides"> %1> %> 
  <%#     <1%#         <li> %1> %>        
  <%#     <1%#           <2%# <img src="img/slider-laptop/1.jpg" alt=""> %2> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/1.jpg" %2> %1> %>
  <%#     <1%#         </li> %1> %>  
  <%#     <1%#         <li> %1> %>
  <%#     <1%#           <2%# <img src="img/slider-laptop/2.jpg" alt=""> %2> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/2.jpg" %2> %1> %>
  <%#     <1%#         </li> %1> %>
  <%#     <1%#         <li> %1> %>
  <%#     <1%#           <2%# <img src="img/slider-laptop/3.jpg" alt=""> %2> %1> %>
								<%# <1%# <%= image_tag "corporate_template/slider-laptop/3.jpg" %2> %1> %>
  <%#     <1%#         </li> %1> %>   
  <%#     <1%#       </ul> %1> %>
  <%#     <1%#     </div> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%# </div> %1> %>      
  <%#     <1%# <div class="row spacer100"></div> %1> %>
  <%#     <1%# <div class="row"> %1> %>

  <%#     <1%#   <div class="col-md-7 col-sm-7"> %1> %>
  <%#     <1%#     <2%# <img src="img/mockup/1.png" alt="" data-type="fadeIn" data-ani="animated"> %2> %1> %>
					<%# <1%# <img src="<%= asset_path 'corporate_template/mockup/1.png' %2>" alt="" data-type="fadeIn" data-ani="animated"> %1> %>
  <%#     <1%#   </div> %1> %>
  <%#     <1%#   <div class="col-md-5 col-sm-5"> %1> %>
  <%#     <1%#     <h3 class="big">Minimalistic is the Way</h3> %1> %>
  <%#     <1%#     <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named. Separated they live in Bookmarksgrove right at the coast of the Semantics. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named. Separated they live in Bookmarksgrove right at the coast of the Semantics..</p> %1> %>

  <%#     <1%#   </div> %1> %>        
  <%#     <1%# </div> %1> %>            
      
            
  <%#     <1%# <div class="row spacer100"></div> %1> %> 
  <%#   <1%# </div> %1> %>
<%# <1%# <iframe class="google-map" src="https://maps.google.sk/maps/ms?msa=0&amp;msid=210946297010027755543.0004c74af772bb9276d33&amp;ie=UTF8&amp;ll=48.576981,19.13117&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe> %1> %>    
  <%# <1%# <div class="hero-unit"> %1> %>
  <%#   <1%# <div class="container"> %1> %>
  <%#     <1%# <div class="row"> %1> %>
  <%#     <1%#   <div class="col-md-12"> %1> %>        
  <%#     <1%#     <div class="div-table"> %1> %>  
  <%#     <1%#       <div class="div-table-cell"> %1> %>            
  <%#     <1%#         <div class="hero-text">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those.</div> %1> %>                
  <%#     <1%#       </div> %1> %>
  <%#     <1%#       <div class="div-table-cell"> %1> %>                         
  <%#     <1%#         <button class="btn btn-lg hero-unit-button">Purchase</button> %1> %>          
  <%#     <1%#       </div> %1> %>      
  <%#     <1%#     </div> %1> %>             
  <%#     <1%#   </div> %1> %>                  
  <%#     <1%# </div> %1> %>    
  <%#   <1%# </div> %1> %>
  <%# <1%# </div> %1> %>    
  <%# </section> %>
         

  <footer id="contact"> <!-- footer begings -->

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
					<h2 class="section-title">Thank You</h2>
					<div class="row spacer40"></div>
					<%# <p class="lead" style="font-size:20px;">Request A Demo</p> %>
					<%# <p class="lead">Find out if we are available in your area</p> %>				
        </div>
      </div>
      <div class="row spacer40"></div>    
      <%# <div class="row"> %>
				<%# <div class="col-xs-12"> %>
				<%# 	<h3>Thanks for taking the time to consider Capstory. We look forward to being able to partner with one of the best venues in Columbus to bring an even better experience to your brides.</h3> %>	
				<%# </div> %>
				<%# <div class="row"> %>
				<%# 	<div class="col-xs-12"> %>
				<%# 		<div class="pull-right"> %>
				<%# 			<br> %>
				<%# 			<br> %>
				<%# 			<h3>Sincerely,</h3> %>
				<%# 			<%= image_tag "super_signature.png", width: 200 %1> %>
				<%# 			<br> %>
				<%# 			<br> %>
				<%# 			<h3>Suprasanna Mishra</h3> %>
				<%# 			<h3>CEO, Capstory</h3> %>
				<%# 		</div> %>
				<%# 	</div> %>
				<%# </div> %>
      <%# </div> %>      
      <%# <div class="row"> %>
				<%# <%= form_for(@contact_form, remote: true) do |f| %1> %>
      <%#     <div class="col-xs-12"> %>
            
      <%#       <div class="row"> %>            
      <%#         <div class="form-group col-xs-6"> %>
								<%# <%= f.label :name %1> %>
								<%# <%= f.text_field :name, class: "form-control", id: "name2", placeholder: "Name" %1> %>
      <%#           <1%# <input class="form-control" id="name2" name="name" onblur="if(this.value == '') this.value='Name'" onfocus="if(this.value == 'Name') this.value=''" type="text" value="Name"> %1> %>
      <%#           <1%# <div class="error" id="err-name">Please enter name</div> %1> %>
      <%#         </div> %>
      <%#         <div class="form-group col-xs-6"> %>
      <%#           <1%# <label for="email2">email</label> %1> %>
								<%# <%= f.label :email %1> %>
								<%# <%= f.text_field :email, class: "form-control", id: "email2", placeholder: "E-mail" %1> %> 
      <%#           <1%# <input  class="form-control" id="email2" name="email"  type="text"  onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';" value="E-mail"> %1> %>
      <%#           <1%# <div class="error" id="err-emailvld">E-mail is not a valid format</div> %1> %> 
      <%#         </div> %>
      <%#       </div> %>
            
      <%#       <div class="row"> %>            
      <%#         <div class="form-group col-xs-12"> %>
      <%#           <1%# <label for="message2">message</label> %1> %>
								<%# <%= f.label :message %1> %>
								<%# <%= f.text_area :message, class: "form-control", id: "message2", placeholder: "Message", rows: 8 %1> %>
      <%#           <1%# <textarea  class="form-control" id="message2" name="message" onblur="if(this.value == '') this.value='Message'" onfocus="if(this.value == 'Message') this.value=''">Message</textarea> %1> %>
      <%#           <1%# <div class="error" id="err-message">Please enter message</div> %1> %>

      <%#         </div> %>
      <%#       </div> %> 
      <%#       <div class="row spacer30"></div> %>
      <%#       <div class="row"> %>
      <%#         <div class="col-md-8 col-md-offset-2"> %>
      <%#           <p class="text-center">Please, fill out the form and press submit. Or, contact us by email or telephone. Our email and phone number are below.</p> %>
      <%#         </div> %>
      <%#       </div> %>
      <%#       <div class="row spacer10"></div> %>
      <%#       <div class="row"> %>            
      <%#         <div class="col-xs-12 text-center"> %>
							<%# <div class="alert alert-success" id="contact_form_success" style="display:none;">The e-mail was successfully sent. Thank you. We will reach back out to you as soon as we possibly can.</div> %>
							<%# <div class="error alert alert-danger" id="err-form">There is a problem with the contact form, please verify that all the fields are filled out correctly.</div> %>
      <%#       <div class="error" id="err-timedout">The connection to the server timed out!</div> %>
      <%#       <div class="error" id="err-state"></div> %>
              
      <%#           <1%# <button type="submit" class="btn btn-default" id="send">Submit</button> %1> %>
								<%# <%= f.submit "Submit", class: "btn btn-default" %1> %>
      <%#         </div> %>
      <%#       </div> %>
      <%#     </div> %>  
					
				<%# <% end %1> %>
      <%#     <1%# <form role="form" name="ajax-form" id="ajax-form" action="php/mail-it.php" method="post" class="form-main"> %1> %>
      <%#     <1%# <div class="col-xs-12"> %1> %>
            
      <%#     <1%#   <div class="row"> %1> %>            
      <%#     <1%#     <div class="form-group col-xs-6"> %1> %>
      <%#     <1%#       <label for="name2">name</label> %1> %>
      <%#     <1%#       <input class="form-control" id="name2" name="name" onblur="if(this.value == '') this.value='Name'" onfocus="if(this.value == 'Name') this.value=''" type="text" value="Name"> %1> %>
      <%#     <1%#       <div class="error" id="err-name">Please enter name</div> %1> %>
      <%#     <1%#     </div> %1> %>
      <%#     <1%#     <div class="form-group col-xs-6"> %1> %>
      <%#     <1%#       <label for="email2">email</label> %1> %>
      <%#     <1%#       <input  class="form-control" id="email2" name="email"  type="text"  onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';" value="E-mail"> %1> %>
      <%#     <1%#       <div class="error" id="err-emailvld">E-mail is not a valid format</div> %1> %> 
      <%#     <1%#     </div> %1> %>
      <%#     <1%#   </div> %1> %>
            
      <%#     <1%#   <div class="row"> %1> %>            
      <%#     <1%#     <div class="form-group col-xs-12"> %1> %>
      <%#     <1%#       <label for="message2">message</label> %1> %>
      <%#     <1%#       <textarea  class="form-control" id="message2" name="message" onblur="if(this.value == '') this.value='Message'" onfocus="if(this.value == 'Message') this.value=''">Message</textarea> %1> %>
      <%#     <1%#       <div class="error" id="err-message">Please enter message</div> %1> %>

      <%#     <1%#     </div> %1> %>
      <%#     <1%#   </div> %1> %> 
      <%#     <1%#   <div class="row spacer30"></div> %1> %>
      <%#     <1%#   <div class="row"> %1> %>
      <%#     <1%#     <div class="col-md-8 col-md-offset-2"> %1> %>
      <%#     <1%#       <p class="text-center">Please, fill out the form and press submit. Or, contact us by email or telephone. Our email and phone number are below.</p> %1> %>
      <%#     <1%#     </div> %1> %>
      <%#     <1%#   </div> %1> %>
      <%#     <1%#   <div class="row spacer10"></div> %1> %>
      <%#     <1%#   <div class="row"> %1> %>            
      <%#     <1%#     <div class="col-xs-12 text-center"> %1> %>
      <%#     <1%#   <div id="ajaxsuccess">E-mail was successfully sent.</div> %1> %>
      <%#     <1%#   <div class="error" id="err-form">There was a problem validating the form please check!</div> %1> %>
      <%#     <1%#   <div class="error" id="err-timedout">The connection to the server timed out!</div> %1> %>
      <%#     <1%#   <div class="error" id="err-state"></div> %1> %>
              
      <%#     <1%#       <button type="submit" class="btn btn-default" id="send">Submit</button> %1> %>
      <%#     <1%#     </div> %1> %>
      <%#     <1%#   </div> %1> %>
      <%#     <1%# </div> %1> %>  
      <%#     <1%# </form> %1> %>        
      <%# </div> %>      
    </div>
    <div class="top">
        <div class="top-line"></div>
      <a class="back-to-top"><i class="fa fa-angle-up"></i></a>    
    </div>      
    <div class="container">    
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>KEEP IN TOUCH</h4>
          <div class="footer-socials">
              <a href="http://twitter.com/capstory"><i class="fa fa-twitter"></i></a>
              <%# <a href="#"><i class="fa fa-google-plus"></i></a> %>
              <a href="http://www.facebook.com/capstory"><i class="fa fa-facebook"></i></a>
              <a href="http://www.pinterest.com/capstory"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        
      
        
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>ADDRESS</h4>
          <p>299 E. 6th Street, Cincinnati, OH</p>
          <%# <p>513-401-5572</p> %>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h4>SUPPORT</h4>
          <p>If you have a question or comment, please contact us.</p>
          <p><button type="button" class="btn btn-primary">Phone: 513-401-5572</button></p>
          <p><button type="button" class="btn btn-primary">Email: hello@capstory.me</button></p>
        </div>        
      </div>
    </div>
    <div class="spacer100"></div>
  </footer> <!-- Footer ends -->
