<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :capsule_id, value: @capsule.id %>

 	<%= f.filepicker_field :filepicker_url, multiple: false, services: "COMPUTER, DROPBOX, FACEBOOK, FLICKR, INSTAGRAM" %>
	
	<%= f.submit "Upload", class: 'button' %>
	
	<%= link_to "Cancel", @capsule, class: 'button' %>
<% end %>
