<div class="masonry-brick">
	<%= div_for post, data: { id: post.id } do %>
		<% if post.body.nil? || post.body.upcase == "NO MESSAGE" %>
			<%# <% if current_user && ( current_user.admin? || capsule_owner(current_user.id, @capsule.id) ) %1> %>
			<%# 	<% @title = "<a href='/posts/#{post.id}' data-method='delete' data-confirm='Are your sure?'>Delete</a>" %1> %>
			<%# <% else %1> %>
			<%# 	<% @title = "No Title" %1> %>
			<%# <% end %1> %>
			<% if post.video %>
				<%= link_to image_tag(post.image.url(:capsule_width), width: '100%'), post.video.zencoder_url, class: 'grouped_elements', rel: 'group1', data: { fancybox_type: 'iframe' } %>
			<% else %>
				<%= link_to image_tag(post.image.url(:capsule_width), width: '100%'), post.image.url(:lightbox_width), class: 'grouped_elements', rel: 'group1', data: { fancybox_type: "image" } %>
			<% end %>
		<% else %>
			<%# <% if current_user && ( current_user.admin? || capsule_owner(current_user.id, @capsule.id) ) %1> %>
				<%# <span class="show_delete"><blockquote><%= post.body %1></blockquote></span> %>
				<%# <small style="display:none;"><%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %1></small> %>
			<%# <% else %1> %>
				<blockquote><%= post.body %></blockquote>
			<%# <% end %1> %>
		<% end %>
	<% end %>
</div>
