<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" ng-app> <!--<![endif]-->
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "Capstory | In these moments, one lens is not enough." %></title>
	  <meta name="description" content="">
	  <meta name="author" content="Capstory Team">

		<%= favicon_link_tag "favicon.ico" %>
	
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
	  <%= csrf_meta_tags %>


	  <!-- HFJ -->
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7355092/716404/css/fonts.css" />

	  <!-- Typekit -->
	  <script type="text/javascript" src="//use.typekit.net/hfd5akt.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	  <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3wwklhCUii3cPxvRnPYqgom0swss-BU&sensor=false">
		</script>
		<!--Start of Zopim Live Chat Script-->
		<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){
			z._.push(c)},$=z.s=
			d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
			$.src='//v2.zopim.com/?2H0WDNnrOoKmG695x1KDgpYQTEHsS0wx';z.t=+new Date;$.
			type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
		</script>
		<!--End of Zopim Live Chat Script-->
	</head>
	<body> 

		<%= yield %>


		<%= javascript_include_tag "application" %>
		<%= render 'layouts/ga' if Rails.env.production? %>
		<%= render 'layouts/crazy_egg' if Rails.env.production? %>
		<%= render "layouts/perfect_audience" if Rails.env.production? %>
	</body>
</html>
