<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" ng-app> <!--<![endif]-->
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "Capstory | In these moments, one lens is not enough." %></title>
	  <meta name="description" content="">
	  <meta name="author" content="Capstory Team">

		<%= favicon_link_tag "favicon.ico" %>
	
		<%= stylesheet_link_tag "homepage" %>
		<%= javascript_include_tag "vendor/modernizr" %>
	  <%= csrf_meta_tags %>


	  <!-- HFJ -->
	  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6495252/631384/css/fonts.css" />

	  <!-- Typekit -->
	  <script type="text/javascript" src="//use.typekit.net/hfd5akt.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	  <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3wwklhCUii3cPxvRnPYqgom0swss-BU&sensor=false">
	    </script>
	</head>
	<body class="index home">
		<div class="row">
			<div class="small-8 small-centered columns" id="thank_you_logo">
				<%= link_to image_tag("logo.png", width: '650px', height: '60px'), root_url %>
			</div>
		</div>
		
		<%= yield %>


		<%= javascript_include_tag "homepage" %>
		<%= render 'layouts/ga' if Rails.env.production? %>
		<%= render 'layouts/crazy_egg' if Rails.env.production? %>
	</body>
</html>
