<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Capstory || Collect Every Moment" %></title>

  	<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "static" %>
  	<%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
		<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  </head>

  <body>
		<div class="slideshow_empty"></div>

		<div class="row">
			<div class="small-12 small-centered columns">

		   	<%= yield %>
				
				<div class="row">
					<div class="small-8 small-centered columns" style="text-align:center;">
						<div class="slideshow_empty"></div>
						<h3 class="subheader">Send Photos to: <%= link_to @capsule.email, "mailto:#{@capsule.email}" %></h3>
						<div id="slideshow_buttons" style="padding-top:30px">
							<div class="row">
								<div class="small-6 columns">	
									<%= link_to "Back to Capsule", @capsule, class: 'button expand' %>
								</div>
								<div class="small-6 columns">
									<a href="#" id="enterFullScreen" class="button expand">Full Screen</a>
								</div>
							</div>
						</div>
						<div class="slideshow_empty"></div>
					</div>
				</div>
			</div>
		</div>
    
    <%= javascript_include_tag "application" %>
		<%= javascript_include_tag "capsule" %>
  </body>
</html>
