<div data-magellan-expedition="fixed" class="show-for-large-up">
	<ul class="side_nav">
		<li><%= image_tag("square_logo.png", width:'200px' ) %></li>
		<li>
			<ul class="vcard">
				<li class="fn">Capstory</li>
				<li class="street-address">81 Mill St</li>
				<li class="street-address">Suite 300</li>
				<li><span class="city">Columbus</span>, <span class="state">OH</span>, <span class="zip">43230</span></li>
				<li class="email"><a href="hello@capstory.me">hello@capstory.me</a></li>
			</ul>
		</li>
	  <li data-magellan-arrival="top"><a href="#top" class="label round"><%= fa_icon "star" %>  Overview</a></li>
	  <li data-magellan-arrival="video"><a href="#video" class="label round"><%= fa_icon "film" %>  Produced Video</a></li>
	  <li data-magellan-arrival="photo"><a href="#photo" class="label round"><%= fa_icon "picture-o" %>  Pro Photo Book</a></li>
	  <li data-magellan-arrival="questions"><a href="#questions" class="label round"><%= fa_icon "comment-o" %>  Questions?</a></li>	
	</ul>
</div>

<div data-magellan-expedition="fixed" class="show-for-medium">
	<ul class="side_nav_medium">
		<li><%= image_tag("square_logo.png", width:'100px' ) %></li>
		<li>
			<ul class="vcard">
				<li class="fn"><small>Capstory</small></li>
				<li class="street-address"><small>81 Mill St</small></li>
				<li class="street-address"><small>Suite 300</small></li>
				<li><small><span class="city">Columbus</span>, <span class="state">OH</span>, <span class="zip">43230</span></small></li>
				<li class="email"><a href="hello@capstory.me">hello@capstory.me</a></li>
			</ul>
		</li>		
	  <li data-magellan-arrival="top"><a href="#top" class="label round">Overview</a></li>
	  <li data-magellan-arrival="video"><a href="#video" class="label round">Produced Video</a></li>
	  <li data-magellan-arrival="photo"><a href="#photo" class="label round">Pro Photo Book</a></li>
	  <li data-magellan-arrival="questions"><a href="#questions" class="label round">Questions?</a></li>	
	</ul>
</div>

<div class="show-for-small">
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name"><%= link_to image_tag("square_logo.png", width: '60px'), root_url %></li>
			<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
	  </ul>
		<section class="top-bar-section" style="left: 0%;">
	  	<ul class="left">
				<li data-magellan-arrival="top"><a href="#top">Overview</a></li>
		  	<li data-magellan-arrival="video"><a href="#video">Produced Video</a></li>
		 		<li data-magellan-arrival="photo"><a href="#photo">Pro Photo Book</a></li>
		  	<li data-magellan-arrival="questions"><a href="#questions">Questions?</a></li>
	  	</ul>
		</section>
	</nav>
</div>

<div class="row">
	<div class="large-3 columns"></div>
  <div class="large-9 columns">
    <h1 id="top" data-magellan-destination="top">Capstory Preferred Partner Kit</h1>
		<p class="subheader">Prepared for <%= @vendor.name.titleize %> of <%= @vendor.vendor_page.name %></p>
		<div class="row">
			<div class="large-7 columns">
				<%= link_to image_tag("recent_work.png", width: "100%"), "http://www.capstory.me/reynoldslovestory" %>
				<h6 id="sample_capsule">Sample Capsule</h6>
				<p class="subheader">
					Click above for an interactive look into a real capsule! Your wedding images will be captured beautifully
					in one, private space.
				</p>
			</div>
			<div class="large-5 columns">
				<h6>About Capstory</h6>
				<p class="subheader">
					Capstory is the essential companion to your wedding photography package. 
					Guests capture images and video - we manage everything else!
				</p>
				<br>
				<h6>Our Services Include</h6>
				<ul id="services">
					<li class="subheader"><%= fa_icon "film fw" %> Live Reception Photo Stream</li>
					<li class="subheader"><%= fa_icon "users fw" %> Crowdsourced Images</li>
					<li class="subheader"><%= fa_icon "crop fw" %> Professional Editing</li>
					<li class="subheader"><%= fa_icon "desktop fw" %> Pro Slideshow</li>
					<li class="subheader"><%= fa_icon "book fw" %> Keepsake Books</li>
					<li class="subheader"><%= fa_icon "instagram fw" %> Instagram #tag Integration</li>
				</ul>
			</div>
		</div>
		<div class="empty_div"></div>
		<div class="row">
			<div class="large-12 columns" id="video" data-magellan-destination="video">
				<h2>Crafted Guest Photo Slideshow Preview</h2>
				<iframe class="show-for-medium-up" src="http://player.vimeo.com/video/84698730?color=bb963e" width="700" height="394" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				<iframe class="show-for-small" src="http://player.vimeo.com/video/84698730?color=bb963e" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				<p class="subheader">View the video in full screen for the full experience. Your video will run about 6 mins!</p>
				<p>
					A professionally designed slideshow using media from your capsule - we combine your guest shots and 
					Instagram photos for an incredible video just for you! Built in sharing options for email and all your 
					social networks.
				</p>
			</div>	
		</div>
		<div class="empty_div"></div>
		<div class="row">
			<div class="large-12 columns" id="photo" data-magellan-destination="photo">
				<h2>Custom Keepsake Books</h2>
				<iframe class="show-for-large-up" src="http://files.flipsnack.com/iframe/embed.html?hash=fdhig9pc&amp;wmode=window&amp;bgcolor=EEEEEE&amp;t=1389899989" width="854" height="480" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				<iframe class="show-for-medium" src="http://files.flipsnack.com/iframe/embed.html?hash=fdhig9pc&amp;wmode=window&amp;bgcolor=EEEEEE&amp;t=1389899989" width="600" height="340" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				<iframe class="show-for-small" src="http://files.flipsnack.com/iframe/embed.html?hash=fdhig9pc&amp;wmode=window&amp;bgcolor=EEEEEE&amp;t=1389899989" width="480" height="270" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				<p class="subheader">Click Above to Preview</p>
				<p>
					We'll make two customized wedding keepsake books with all your favorite wedding images - shipping included.
				</p>
			</div>	
		</div>
		<div class="empty_div"></div>
		<div class="row">
			<div class="large-12 columns" id="questions" data-magellan-destination="questions">
				<h2>Questions? Just Let Us Know</h2>
				<div class="row">
					<div class="large-6 columns">
						<h6>Contact Us</h6>
						<p class="subheader">
							If you'd like to sign up for a capsule, you can do so right here. Please also use this to ask us 
							any questions or request more information.
						</p>
						<p class="subheader">
							You can follow us on <%= link_to "Twitter", "http://twitter.com/capstory" %>, <br>call us at 513-401-5572, 
							<br>or email us at <%= link_to "hello@capstory.me", "mailto:hello@capstory.me" %>
						</p>
						<%= form_for(@vendor_contact) do |f| %>
							<%= f.text_field :name, class: '', placeholder: "Name" %>
							
							<%= f.text_field :email, class: '', placeholder: "Email" %>
							
							<%= f.text_field :vendor_code, class: '', value: @vendor.partner_code %>
							
							<%= f.text_field :address_1, class: '', placeholder: "Address Line 1" %>
							
							<%= f.text_field :address_2, class: '', placeholder: "Address Line 2" %>
							
							<%= f.text_field :phone, class: '', placeholder: "Phone Number" %>
							
							<%= f.text_area :message, class: '', placeholder: "Your Message..." %>
							
							<%= f.hidden_field :vendor_id, value: @vendor_contact.vendor_contactable_id %>
							<%= f.hidden_field :vendor_type, value: @vendor_contact.vendor_contactable_type %>
							
							<%= f.submit "Send", class: "button" %>
						<% end %>
					</div>
					<div class="large-6 columns">
						<h6>Offices in Columbus & Cincinnati</h6>
						<p class="subheader">
							We're happy to meet with you in person if you'd prefer. Just shoot us a message and we'll set it up.
						</p>
						<br>
						<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x600&sensor=false&zoom=14&maptype=terrain&markers=40.019458%2C-82.879605" %>
					</div>
				</div>
			</div>	
		</div>
		<div class="empty_div"></div>		
  </div>
</div>
